
<header>Select your language</header>
<div class="lang-letter-ranges">
    <a *ngFor="let range of letterRanges" (click)="onLetterRangeClick(range)"
        [class]="range[0] === selectedRange[0] ? 'letter-range selected' : 'letter-range'">
        {{ range[0] }} - {{ range[1] }}
    </a> 
</div>
<div ngbDropdown class="language-dropdown">
    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
        {{ currentLanguage.name }}
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button *ngFor="let language of dropdownLanguages" ngbDropdownItem (click)="changeLanguage(language)">
            {{ language.name }}
        </button>
    </div>
</div>
<div class="tip-sheet-container">
    <a class="tip-sheet-card" *ngFor="let tipSheet of visibleTipSheets" (click)="openTipSheetPDF(tipSheet)">
        <div class="tip-sheet-title"><h4>{{ tipSheet.title }}</h4></div>
        <div class="tipsheet-thumbnail">
            <img class="thumbnail-img" src="{{ tipSheet.thumnailSrc }}" />
        </div>
        <div class="tip-sheet-btn-container"><span class="btn-container tip-sheet-btn">View</span> </div>       
    </a>
</div>

<!-- todo. not quite sure about how this should be implemented-->
<!--<div *ngIf="visibleTipSheets.length == tipSheets.length && tipSheets.length < 15">
    <p>Not all 15 tip sheets are available in this language yet.</p>
</div>-->

<div>
   <span class="btn-load-more" (click)="viewMoreTipSheets()" *ngIf="showloadMoreButton">See more tip sheets</span> 
</div>