.language-header{
  color: #5dbcd2;
}

.lang-letter-ranges {
  display: flex;
}

.letter-range {
  border: 1px solid grey;
  margin: 5px;
  border-radius: 10px;
  padding: 4px;

  &.selected {
    background-color: #5dbcd2;
  }
}

.language-dropdown {
  margin-left: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.download-merged{
  color: #5dbcd2;
  font-size: medium;
}

.resource-view-more-text{
  color: #5dbcd2;
}

.nav-card-item-content hr {
  border-color: #75c5ca; 
}

.nav-other-resources .nav-card-item .nav-card-item-content h5 {
  color: #5dbcd2;
}

.nav-other-resources .nav-card-item .nav-card-item-content div a{
  color: #5dbcd2;
  font-size: medium;
}




