<h5 class="language-header">Select your language</h5>
<div class="lang-letter-ranges">
    <a *ngFor="let range of letterRanges" (click)="onLetterRangeClick(range)"
        [class]="range[0] === selectedRange[0] ? 'letter-range selected' : 'letter-range'">
        {{ range[0] }} - {{ range[1] }}
    </a> 
</div>
<div ngbDropdown class="language-dropdown">
    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
        {{ currentLanguage.name }}
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button *ngFor="let language of dropdownLanguages" ngbDropdownItem (click)="changeLanguage(language)">
            {{ language.name }}
        </button>
    </div>
</div>

<div *ngIf="objMergedTipsheet">
    To download all the tip sheets <a class="download-merged" href="{{  objMergedTipsheet? objMergedTipsheet.pdfSrc : '' }}" target="_blank">click here</a>
</div>

<div class="nav-cards nav-resources">
    <a class="nav-card-item" *ngFor="let tipSheet of visibleTipSheets" (click)="openTipSheetPDF(tipSheet)" data-aos="zoom-in" data-aos-duration="1000">
        <h5>{{ tipSheet.title }}</h5> 
        <img class="preview" [src]="tipSheet.thumnailSrc" />
        <div class="view-text">View</div>     
    </a>
</div>

<div class="resource-view-more-text"  (click)="onClickViewMoreTipSheets( )" *ngIf="showloadMoreButton" >
    See more tip sheets
</div>

<div *ngIf="arrOtherResources" class="nav-cards nav-other-resources">
    <div class="nav-card-item" data-aos="zoom-in" data-aos-duration="1000">
        <div class="nav-card-item-content">
         <h5>Other Resources in {{currentLanguage.name}}</h5>

         <div *ngFor="let resourceSheet of arrOtherResources">
            <a href="{{ resourceSheet.pdfSrc}}" target="_blank">  {{resourceSheet.title}}   </a>
            <hr/>
         </div>
    
        </div>
      </div>
</div>



