
.lang-letter-ranges {
  display: flex;
}

.letter-range {
  border: 1px solid grey;
  margin: 5px;
  border-radius: 10px;
  padding: 4px;

  &.selected {
    background-color: #5dbcd2;
  }
}

.language-dropdown {
  margin-left: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.download-merged {
  color: #5dbcd2;
  font-size: medium;
}

.nav-cards {
  width: 100%;
}

.nav-cards .nav-card-item {
  width: 100%;
}

.nav-card-item-content a {
  color: #75c5ca;
  font-weight: 500;
  font-size: medium;
}

.nav-card-item-content hr {
  border-color: #75c5ca;
  margin-bottom: 20px;
}

.resource-view-more-text {
  color: #5dbcd2;
}

.tip-sheet-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tip-sheet-item{
  flex: 25%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

 

@media only screen and (max-width: 450px) {
  .tip-sheet-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  
  .tip-sheet-item {
    flex: 100%;
    margin-left: 0px;
  }

}
