<h5 class="tip-header">Select your language</h5>


<div *ngIf="objMergedTipsheet">
    To download all the tip sheets <a class="download-merged" href="{{  objMergedTipsheet? objMergedTipsheet.pdfSrc : '' }}" target="_blank">click here</a>
</div>

<div class="nav-cards">
    <div class="nav-card-item">
         <div class="nav-card-item-content">
             <div *ngFor="let tipSheet of visibleTipSheets">
                <a href="{{ tipSheet.pdfSrc}}" target="_blank">
                    {{ tipSheet.title }}      
                </a>
                <hr/>
             </div>
        </div>
        <div class="resource-view-more-text"  (click)="onClickViewMoreTipSheets()" *ngIf="showloadMoreButton" >
            See more tip sheets
        </div>

    </div>
</div>

<div *ngIf="arrOtherResources" class="nav-cards">
    <div class="nav-card-item" data-aos="zoom-in" data-aos-duration="1000">
        <div class="nav-card-item-content">
         <h5 class="tip-header">Other Resources in {{currentLanguage.name}}</h5>
         <div *ngFor="let resourceSheet of arrOtherResources">
            <a href="{{ resourceSheet.pdfSrc}}" target="_blank">  {{ resourceSheet.title }}   </a>
            <hr/>
         </div>    
        </div>
      </div>
</div>



