
.lang-letter-ranges {
    display: flex;
}

.letter-range {
    border: 1px solid grey;
    margin: 5px;
    border-radius: 10px;
    padding: 4px;

    &.selected {
        background-color: lightskyblue;
    }
}

.language-dropdown {
    margin-left: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tip-sheet-container {
    display: flex;
    flex-wrap: wrap; 
}

.tip-sheet-card {
    flex: 1; /* make the cards equal in size  */
    text-decoration: none;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    margin: 10px;
    color: #0b4061; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px; /* 5px rounded corners */
    background: #ffffff;
    transition: 0.4s;
}

.tip-sheet-card:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}  

.tip-sheet-title {
    //font-size: 15px;
    text-align: center;
    padding-top: 8px; 
}

.tip-sheet-btn-container{
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: center;
}


.tipsheet-thumbnail{
    //width: 230px; todo. original value
    //height: 180px; todo. original value
    
    align-self: center;
    overflow: hidden;
    border-radius: 10px;
    width: 210px;
    height: 150px;
}

.thumbnail-img{
    width: 100%;
}

.tip-sheet-load-more{
    text-decoration: underline;
    margin: 10px;
    cursor: pointer;
}
.tip-sheet-load-more:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
} 

