.footer-container {
  color: #ffffff;
}

.divider {
  color: #ffffff;
  background: #ffffff;
}

.footer-head {
  display: flex;
}

.footer-head div {
  flex: 1;
}

.footer-head .footer-text h3{
  font-weight: 500; 
}

.footer-head .footer-text p{
  font-weight: 300;
}

.footer-menu-items {
  display: flex;
  flex-direction: column;
}

.footer-menu-items a {
  padding-top: 10px;
  padding-left: 50px; //todo convert to ems
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  //font-size: 12px; //todo. verify if good size  
  transition-duration: 0.4s;
}

.footer-menu-items a:hover {
  text-decoration: none;
  border-bottom: 4px solid #ffffff;
}

.footer-tail {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

@media only screen and (max-width: 450px) {
  .footer-head {
    flex-direction: column;
  }

  .footer-menu-items a {
    padding-top: 10px;
    padding-left: 0px; 
  }
}

@media only screen and (max-width: 360px) {
  .footer-tail {
   flex-direction: column;
    justify-content: center; 
  }
}

