<div class="footer-container">
  <div class="footer-head-bg">
    <div class="content footer-head">
      <div>
        <a class="anchor" id="footer"></a>
        <h4>USEFUL INFORMATION</h4>
        <div class="footer-menu-items">
          <a *ngFor="let item of menuItems" [routerLink]="item.href">{{ item.name }}</a>
        </div>
      </div>
      <div>
        <h4>FOLLOW US</h4>
        <app-social-media-icons></app-social-media-icons>
      </div>
    </div>
  </div>
  <div class="footer-tail"> &copy; PLH {{ currentYear }}. | All rights reserved. </div>
</div>