
  <div class="content footer-container">
    <div class="footer-head">
      <div class="footer-text">
        <h3>Working for families around the globe</h3>
        <p>Parenting for Lifelong Health</p>
        <app-social-media-icons placement="footer"></app-social-media-icons>
      </div>
      <div class="footer-menu-items">
        <a *ngFor="let item of menuItems" [routerLink]="item.href">{{ item.name }}</a>
      </div>
    </div>
    
    <hr class="divider">
    
    <div class="footer-tail">
      <div>&copy; PLH {{currentYear}}.</div>
    </div>

</div>