<app-banner></app-banner>
<app-newletterribbon></app-newletterribbon>

<div class="content page-container">
  <div class="main-container nav-cards">
    <div class="nav-card-item nav-card-resource">
      <h5 class="nav-card-item-header">NEWS MAIN</h5>
      <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000">

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu mi faucibus, ultrices sem non, malesuada sem. Nam sodales, ante in elementum sollicitudin, tellus felis volutpat nunc, dignissim efficitur est ligula ac lectus.
        </p>          
              
     
      <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000">
        <h5>NEWS</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu mi faucibus, ultrices sem non, malesuada sem. Nam sodales, ante in elementum sollicitudin, tellus felis volutpat nunc, dignissim efficitur est ligula ac lectus.
         </p>
        <a routerLink="/news">SEE THE NEWS</a>
        <hr/>
      </div>
    
      <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000">
        <h5>NEWSLETTERS</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu mi faucibus, ultrices sem non, malesuada sem. Nam sodales, ante in elementum sollicitudin, tellus felis volutpat nunc, dignissim efficitur est ligula ac lectus.
        </p>
        <a routerLink="/newsletters">SEE THE NEWSLETTERS</a>
        <hr/>
      </div>

      <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000">
        <h5>WEBINARS</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu mi faucibus, ultrices sem non, malesuada sem. Nam sodales, ante in elementum sollicitudin, tellus felis volutpat nunc, dignissim efficitur est ligula ac lectus.
        </p>
        <a routerLink="/webinars">SEE THE WEBINARS</a>
        <hr/>
      </div>
      
    </div>
  </div>
  <app-sidebar class="side-bar-container"></app-sidebar>
</div>
