<app-banner></app-banner>
<app-newletterribbon></app-newletterribbon>

<div class="content page-container">
  <div class="main-container nav-cards">
    <div class="nav-card-item nav-card-resource">
      <h5 class="nav-card-item-header">NEWS, NEWSLETTERS AND WEBINARS</h5>
      <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
        <p>
          We have designed newsletters and run webinars that we are excited to
          share with you. We also have put together in our news section stories
          of how people around the world are using our resources.
        </p>
      </div>
      <br />
      <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
        <h5>NEWS</h5>
        <p>
          We are happy to share news with you as we continue to work tirelessly
          to create innovative approaches, respond to partner requests, and
          learn how these resources impact the lives of children and families.
        </p>
        <a routerLink="/news">SEE THE NEWS</a>
      </div>
      <hr />
      <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000"  data-aos-anchor-placement="top-bottom">
        <h5>NEWSLETTERS</h5>
        <p>
          We are happy to share newsletters that we have designed to communicate
          regularly with our partners and funders and inform them of the
          progress of our projects across the world, as we continue to work
          tirelessly to create innovative approaches, respond to partner
          requests, and learn how the parenting resources impact the lives of
          children and families.
        </p>
        <a routerLink="/newsletters">SEE THE NEWSLETTERS</a>
      </div>
      <hr />
      <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000"  data-aos-anchor-placement="top-bottom">
        <h5>WEBINARS</h5>
        <p>
          Check out our selection of video workshops and presentations hosted
          online regarding Parenting and Child Protection resources. These
          sessions are used to share knowledge, ideas, and updates with people
          around the world working on Parenting and Child Protection projects
          during COVID-19.
        </p>
        <a routerLink="/webinars">SEE THE WEBINARS</a>
      </div>
      <hr />
    </div>
  </div>

  <app-sidebar class="side-bar-container"></app-sidebar>
</div>
