<app-banner></app-banner>
<app-newletterribbon></app-newletterribbon>
<div class="content page-container">
  <div class="main-container nav-cards">
    <div class="nav-card-item nav-card-resource">
      <h5 class="nav-card-item-header">IMPACT STORIES</h5>
      <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000"
        data-aos-anchor-placement="top-bottom">
        <p>The COVID-19 Playful Parenting team's collaboration has brought together global agencies, governments,
          universities, NGOs, and community organisations to provide evidence-informed playful parenting resources to an
          unprecedented number of people in just a few months of intense work since the COVID-19 pandemic started.</p>
        <br>
        <p>These impact stories reflect how the power of collective expertise and collaborative efforts help make a real
          difference in the lives of parents, caregivers and children! </p>
      </div>
      <div class="nav-card-item-content">
        <div class="impact-story-container">
          <div class="impact-story-img">
            <img src="assets/images/quotes_light_blue.png" />
          </div>
          <div class="impact-story-text">
            <p>What this initiative has done to my family is so profound. I am able to appreciate the world of children,
              and I think I am learning good parenting. It has also challenged me to look at this crazy time I have
              found myself i through the positive lens of hope."</p>
            <p style="color: #75c5ca; font-size: 12px;">- Parent in Malawi from World Without Orphans</p>
          </div>
        </div>
      </div>
      <hr />
      <div class="nav-card-item-content">
        <div class="impact-story-container">
          <div class="impact-story-img">
            <img src="assets/images/quotes_light_blue.png" />
          </div>
          <div class="impact-story-text">
            <p>We understand that it is very hard for parents to adjust to the new norm, as they will have their
              children at home more than they are used to due to schools being closed. [The COVID-19 parenting
              resources] not only bring relief as we parent, but also challenge parenting in general, for some of us
              have failed miserably to parent well. It will leave a lasting impact and is amazing we have learnt this
              through a church in our community." </p>
            <p style="color: #75c5ca; font-size: 12px;">– Parent in Malawi</p>
          </div>
        </div>
      </div>
      <hr />
      <div class="nav-card-item-content">
        <div class="impact-story-container">
          <div class="impact-story-img">
            <img src="assets/images/quotes_light_blue.png" />
          </div>
          <div class="impact-story-text">
            <p>This isn't just something that helps with the corona disaster, it's something that helps with the whole
              emergency situations. Let us be positive, I'm sure that means praising yourself with the little things,
              not just your kids, but yourself as well.</p>
            <p style="color: #75c5ca; font-size: 12px;">– Comments on online article, Unicef Japan</p>
          </div>
        </div>
      </div>
      <hr />
      <div class="nav-card-item-content">
        <div class="impact-story-container">
          <div class="impact-story-img">
            <img src="assets/images/quotes_light_blue.png" />
          </div>
          <div class="impact-story-text">
            <p>The messages are important and guiding especially this time when adolescents are at home.</p>
            <p style="color: #75c5ca; font-size: 12px;">- Catholic Relief Services (CRS), Kenya</p>
          </div>
        </div>
      </div>
      <hr />
      <div class="nav-card-item-content">
        <div class="impact-story-container">
          <div class="impact-story-img">
            <img src="assets/images/quotes_light_blue.png" />
          </div>
          <div class="impact-story-text">
            <p>
              Thanks to parenting tips materials, family relationships are being enhanced.
              <br />Most of our 23 local church partners have testified to how parents have been awakened to what should
              be natural and fun in families. Thriving social life relationships in most families have, unfortunately,
              been non-existent; and thanks to Covid19 as it has simply exposed this fact.
            </p>
            <p style="color: #75c5ca; font-size: 12px;">– World Without Orphans, Malawi</p>

          </div>
        </div>
      </div>
      <hr />
      <div class="nav-card-item-content">
        <div class="impact-story-container">
          <div class="impact-story-img">
            <img src="assets/images/quotes_light_blue.png" />
          </div>
          <div class="impact-story-text">
            <p>The children of the world have an urgent need for safe havens right now, in both a spiritual and physical
              sense. Spiritual support - through this kind of creative engagement designed especially for children -can
              give a renewed sense of hope to families and churches alike.</p>
            <p style="color: #75c5ca; font-size: 12px;">– WCC Interim General Secretary Rev. Prof. Dr Ioan Sauca about
              the Church Leaders Pack</p>
          </div>

        </div>
      </div>
      <hr />
      <div class="nav-card-item-content">
        <div class="impact-story-container">
          <div class="impact-story-img">
            <img src="assets/images/quotes_light_blue.png" />
          </div>
          <div class="impact-story-text">
            <p>If I have found these (tips) helpful, for sure they should be for all parents and caregivers in our
              village. They are also applicable to people of all faiths, and I will highly recommend to the village head
              so we could advocate across our community. They are timely. </p>
            <p style="color: #75c5ca; font-size: 12px;">– Counsellor to village Headman Mphamba in Malawi</p>
          </div>

        </div>
      </div>
      <hr />
      <div class="nav-card-item-content">
        <div class="impact-story-container">
          <div class="impact-story-img">
            <img src="assets/images/quotes_light_blue.png" />
          </div>
          <div class="impact-story-text">
            <p>One parent testified to how it had been difficult for him to relate with his children on seemingly simple
              life issues; and now he always starts the day with not just a 'good morning' greeting, but instead extends
              it to questions like, ‘what do you have lined up for the day? </p>
            <p style="color: #75c5ca; font-size: 12px;">- World Without Orphans (WWO) in Malawi</p>
          </div>

        </div>
      </div>
      <hr />
      <div class="nav-card-item-content">
        <div class="impact-story-container">
          <div class="impact-story-img">
            <img src="assets/images/quotes_light_blue.png" />
          </div>
          <div class="impact-story-text">
            <p>The impact is definitely being felt and most parents are cherishing every moment they are having with
              their families during this quarantine period. I can happily say parenting tips have brought healing in
              families.</p>
            <p style="color: #75c5ca; font-size: 12px;">- World Without Orphans (WWO) in Malawi</p>
          </div>

        </div>
      </div>
      <hr />
      <div class="nav-card-item-content">
        <div class="impact-story-container">
          <div class="impact-story-img">
            <img src="assets/images/quotes_light_blue.png" />
          </div>
          <div class="impact-story-text">
            <p>We understand that it is very hard for parents to adjust to the new norm, as they will have their
              children at home more than they are used to due to schools being closed. This (the tips) not only brings
              relief as we parent, but also challenges parenting in general, for some of us have failed miserably to
              parent well. It will leave a lasting impact, and it is amazing we have learnt this through a church in our
              community (Church of God).</p>
            <p style="color: #75c5ca; font-size: 12px;">– Village Headman Wonkesi, Mtuwa-Chikwawa in Malawi</p>
          </div>

        </div>
      </div>
      <hr />



    </div>
  </div>
  <app-sidebar class="side-bar-container"></app-sidebar>
</div>