<app-banner></app-banner>
<app-newletterribbon></app-newletterribbon>
<div class="content page-container">
  <div class="nav-cards main-container">
    <div class="impact-header">
      <h4>Total reach: 78.4 million people</h4>
      <p>as of 11 September 2020</p>
    </div>

    <div class="nav-cards">
      <div class="nav-card-item">
        <div class="nav-card-item-content">
          <img src="assets/images/MAP_AFRICA.jpg" />
          <p>Africa</p>
          <span>15,502,372</span>
        </div>
      </div>

      <div class="nav-card-item">
        <div class="nav-card-item-content">
          <img src="assets/images/MAP_ASIA.jpg" />
          <p>Asia</p>
          <span>12,201,846</span>
        </div>
      </div>

    </div>
  </div>

  <app-sidebar class="side-bar-container"></app-sidebar>
</div>
