<app-banner></app-banner>
<app-newletterribbon></app-newletterribbon>
<div class="content page-container">
  <div class="main-container">
    <div class="impact-header">
      <h4>Total reach: 78.4 million people</h4>
      <p>as of 11 September 2020</p>
    </div>

    <div class="nav-cards">
      <div class="nav-card-item">
        <div class="nav-card-item-content">
          <img src="assets/images/MAP_AFRICA.jpg" />
          <h6>Africa</h6>
          <span>15,502,372</span>
        </div>
      </div>

      <div class="nav-card-item">
        <div class="nav-card-item-content">
          <img src="assets/images/MAP_ASIA.jpg" />
          <h6>Asia</h6>
          <span>12,201,846</span>
        </div>
      </div>

      <div class="nav-card-item">
        <div class="nav-card-item-content">
          <img src="assets/images/MAP_EUROPE.jpg" />
          <h6>Europe</h6>
          <span>957,821</span>
        </div>
      </div>

      <div class="nav-card-item">
        <div class="nav-card-item-content">
          <img src="assets/images/MAP_AMERICAS.jpg" />
          <h6>Americas</h6>
          <span>1,533,171</span>
        </div>
      </div>

      <div class="nav-card-item">
        <div class="nav-card-item-content">
          <img src="assets/images/MAP_MIDDLE EAST.jpg" />
          <h6>Middle East</h6>
          <span>376,395</span>
        </div>
      </div>

      <div class="nav-card-item">
        <div class="nav-card-item-content">
          <img src="assets/images/MAP_GLOBAL.jpg" />
          <h6>Cross-Countries</h6>
          <span>47,854,895</span>
        </div>
      </div>

    </div>
  </div>

  <app-sidebar class="side-bar-container"></app-sidebar>
</div>
