<app-banner></app-banner>
<app-newletterribbon></app-newletterribbon>
<div class="content page-container">
  <div class="nav-cards main-container">
    <div class="nav-card-item">
      <h5 class="nav-card-item-header">WEBINARS</h5>
      <div class="nav-card-item-content">
        <p>
          Check out our selection of video workshops and presentations hosted
          online regarding Parenting and Child Protection resources. These
          sessions are used to share knowledge, ideas, and updates with people
          around the world working on Parenting and Child Protection projects
          during COVID-19.
        </p>
      </div>
      <hr />
      <div class="nav-card-item-content">
        <h5>WEBINAR: COVID-19 & Child Protection (April 2020)</h5>
        <div class="webinar-container">
          <div class="webinar-video">
            <iframe
              width="100%"
              height="150px"
              src="https://www.youtube.com/embed/j1ShU5pwpaQ"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            >
            </iframe>
          </div>
          <div class="webinar-text">
            <p>
              The Global Partnership to End Violence Against Children (EVAC) and
              the Early Childhood Development Action Network (ECDAN) partnered
              to present a webinar focused on key issues on Child Protection in
              the context of the COVID-19 pandemic. The webinar provided an
              overview of the issue of Child Protection, with lessons learned
              from past emergency contexts, current data on the prevalence of
              violence against children, presentation of guides and strategies
              to promote the protection of children and country presentations on
              strategies being currently implemented.
            </p>
          </div>
        </div>
      </div>
      <hr />
      <div class="nav-card-item-content">
        <h5>
          WEBINAR: SEMINARIO IBEROAMERICANO FAN FUNDACION Y EARLY INSTITUTE DIA
          4
        </h5>
        <div class="webinar-container">
          <div class="webinar-video">
            <iframe
              width="100%"
              height="150px"
              src="https://www.youtube.com/embed/j1ShU5pwpaQ"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            >
            </iframe>
          </div>
          <div class="webinar-text">
            <p>
              Presentation of our free parenting resources delivered by Brigitte
              De Hulsters at the Seminario Iberamericano last week (beginning at
              59:34).
            </p>
            <p>
              The Iberoamerican Seminar for Prevention, detection and
              intervention in cases of sexual violence in children and
              adolescents in Latin America and the Caribean (LAC) was organized
              by FAN (Fundacion de Atencion a la Ninez, Colombia) and Early
              Institute (Mexico) from 25 till 28 august 2020 and counted
              presentations by a representative of ISPCAN, on the use of data to
              prevent violence in children/adolescents, of Early Institute, and
              ALUMBRA, Mexico, on the creation of alliances between governments
              and organizations on this topic, of the Government of Gran
              Canarias, Spain, on the pilot multisectoral approach that
              harmonizes the rights of both victim and accused and avoids
              revictimization of the child; PAICABI, a Chilean NGO, and Jugar
              para Sanar (FAN Colombia), on the need to restore the health WITH
              (not OF) the child, humanizing surroundings, protective and
              therapeutic interventions repairing (not focusing on the damage),
              the perspectives and continuing development of the child.
              COVID19parenting was the closing presentation, and received much
              interest as a true prevention method now. Directors of FAN and
              Early considered this first seminar a great success. Attendant’s
              count was above 400 for each session. Inscriptions 554. Certain
              voids of multicultural knowledge and practices were closed.
              Knowledge sharing was effective and emphasized that the
              restoration of the child or adolescent after abuse, needs to
              happen WITH the child/adolescent, through play, avoiding
              revictimization and by a multisectoral team in appropriate
              surroundings for the victim. Prevention is always better, and
              parents need access to tools for play and stress reduction to
              avoid intrafamily violence directed towards children, especially
              during COVID19.
            </p>
          </div>
        </div>
      </div>
      <hr />
      <div class="nav-card-item-content">
        <h5>
          WEBINAR: Beyond Masks: Societal impacts of COVID -19 and accelerated
          solutions for children and adolescents (November 2020)
        </h5>
        <div class="webinar-container">
          <div class="webinar-video">
            <iframe
              width="100%"
              height="150px"
              src="https://www.youtube.com/embed/j1ShU5pwpaQ"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            >
            </iframe>
          </div>
          <div class="webinar-text">
            <p>
              UNICEF Innocenti's new report – Beyond Masks: Societal impacts of
              COVID-19 and accelerated solutions for children and adolescents –
              offers a comprehensive picture of the health, economic, and social
              impacts of the pandemic, and its implications for children and
              adolescents. The report examines evidence from the current crisis,
              examines past health crises such as HIV/AIDS, SARS and Ebola to
              provide insights into the current one, and proposes proven and
              promising solutions.
            </p>
            <p>
              This panel discussion, timed with the launch of the Beyond Masks
              report on 19 November, 2020, comes at a moment when policymakers
              are asking deep questions about how to deal with the raging
              pandemic in many parts of the world while ensuring children’s
              health, education and well-being. In it, we delve deep into Beyond
              Masks to better understand how its findings can shape national and
              subnational policy responses and individual, family and community
              behaviors. With COVID-19 pandemic showing no signs of abating,
              there is an urgent need to find scalable and cost-effective
              solutions to the continued and deepening impact of the COVID
              crisis on the world’s youngest citizens.
            </p>
            <p>Download the Summary: https://www.unicef-irc.org/publication</p>
          </div>
        </div>
      </div>

<hr/>

<div class="nav-card-item-content">

    <p>
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          Link with href
        </a>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Button with data-target
        </button>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>
      </div>

</div>







    </div>
  </div>

  <app-sidebar class="side-bar-container"></app-sidebar>
</div>
