<div class="content">
    <div>
    <h5 class="nav-card-item-header">IMPACT STORIES</h5>

    <p>The COVID-19 Playful Parenting team's collaboration has brought together global agencies, governments,
        universities, NGOs, and community organisations to provide evidence-informed playful parenting resources to an
        unprecedented number of people in just a few months of intense work since the COVID-19 pandemic started.</p>
      <br>
      <p>These impact stories reflect how the power of collective expertise and collaborative efforts help make a real
        difference in the lives of parents, caregivers and children! </p>
</div>
<div id="map"></div>
</div>