<app-banner></app-banner>
<app-newletterribbon></app-newletterribbon>

<div class="content page-container">
  <div class="main-container nav-cards">
    <div class="nav-card-item nav-card-resource">
      <h5 class="nav-card-item-header">RESOURCES</h5>
      <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="top-bottom"> 

        <p>
          To help prevent violence and abuse against children during the COVID-19 pandemic, in collaboration with the World Health Organization (WHO), UNICEF and other leading agencies, Parenting for Lifelong Health (PLH) provides open-source and evidence-based parenting resources to support parents, caregivers, teachers, nurses, and others in keeping children safe under all circumstances. 
        </p>  
        <br>        
        <p>
          These resources focus on building positive parent-child relationships and reducing violence against children by learning through play, reinforcing positive and managing difficult behaviours, creating structure and routines, talking about COVID-19, keeping children safe online, and reducing stress and conflict.
        </p>
        <br>
        <p>
          Check out the wide range of other parenting resources that are being continuously developed and adapted to different types of internet access to reach all population groups from low and high income countries.
        </p>
      </div>
      <br>
     
      <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
        <h5>PARENTING TIPS</h5>
        <p>
          The parenting tip sheets are available in 100+ languages and can be downloaded to be shared online and/or printed.
         </p>
        <a routerLink="/tips">SEE THE RESOURCES</a>
        
      </div>
      <hr/>
      <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
        <h5>TIPS FOR CASEWORKERS</h5>
        <p>
          These tip sheets are for social workers and behavioral parent training. They help parents build positive parent-child relationships through play, reinforce positive and manage difficult behaviours, create structure, talk about COVID-19, and keep children safe online. 
        </p>
        <a routerLink="/caseworkers">SEE THE RESOURCES</a>
      
      </div>
      <hr/>
      <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
        <h5>PUBLIC SERVICE ANNOUNCEMENTS</h5>
        <p>
          The PSA resources are messages in the public interest that are designed to be disseminated without charge, and with the objective of raising awareness of, and improving parenting during the COVID-19 pandemic and beyond. 
        </p>
        <a routerLink="/psa">SEE THE RESOURCES</a>
      
      </div>
      <hr/>
      <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
        <h5>DIGITAL PARENTING</h5>
        <p>
          Our Digital Parenting resources are designed to reach parents through digital formats such as online and/or mobile applications, texting and chat services.
        </p>
        <a routerLink="/digitalparenting">SEE THE RESOURCES</a>
       
      </div>
      <hr/>
      <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
        <h5>AUDIO-VISUAL RESOURCES</h5>
        <p>
          Our parenting resources are also been designed for specific audio and visual presentations to reach all parents and caregivers groups, regardless of the quality of their internet access
         </p>
        <a routerLink="/audiovisuals">SEE THE RESOURCES</a>
       
      </div>
      <hr/>
      <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
        <h5>FAITH-BASED RESOURCES</h5>
        <p>
          Our faith-based resources help to reach parents and caregivers during religious festivals, rituals, church ceremonies and at private celebrations. 

        </p>
        <a routerLink="/faithleaders">SEE THE RESOURCES</a>
       
      </div>
      <hr/>
      <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
        <h5>SOCIAL MEDIA KIT</h5>
        <p>
          Share evidence-based parenting tips on your Social Media profiles to raise awareness on positive tips and activities that parents and caregivers can do to help reduce violence against children and promote child wellbeing during COVID-19 and beyond. 
        </p>
        <a routerLink="/socialmedia">SEE THE RESOURCES</a>
       
      </div>
      <hr/>
    </div>
  </div>
  <app-sidebar class="side-bar-container"></app-sidebar>
</div>
