<app-banner></app-banner>
<app-newletterribbon></app-newletterribbon>

<div class="content resources-container">
  <div class="nav-cards">
    <div class="nav-card-item nav-card-resource">
      <h5 class="nav-card-item-header">RESOURCES</h5>
      <div class="nav-card-item-content">
        <p>
          We have designed a wide range of tools for low and high internet
          access, available in multiple languages, to reach multicultural
          audiences of parents, caregivers and social workers. How do you want
          to reach parents?
        </p>
      </div>
      <div class="nav-card-item-content">
        <h5>PARENTING TIP SHEETS</h5>
        <p>
          The parenting tip sheets are available in 100+ languages and can be
          downloaded and/or printed.
        </p>
        <a>See the resources</a>
      </div>
      <div class="nav-card-item-content">
        <h5>CASE WORKERS</h5>
        <p>
          We have designed special parenting tip sheets to be used by social
          workers for parent training.
        </p>
        <a>See the resources</a>
      </div>
      <div class="nav-card-item-content">
        <h5>RADIO, TV & ONLINE BROADCASTING</h5>
        <p>
          If you want to reach parents by broadcasting parenting tips for on
          Radio, Television and/or online, please click on the link below to see
          the resources that are ready to use.
        </p>
        <a>See the resources</a>
      </div>
      <div class="nav-card-item-content">
        <h5>SOCIAL MEDIA</h5>
        <p>
          If you want to share the Parenting Tips online, please click on the
          link below to download our Social Media squares, with suggested texts
          and hashtags to use.
        </p>
        <a>See the resources</a>
      </div>
      <div class="nav-card-item-content">
        <h5>ETC.</h5>
        <p>
          Download our Church Leaders pack for more information on how you can
          reach parents during religious festivals, rituals, church ceremonies
          and at private celebrations.
        </p>
        <a>See the resources</a>
      </div>
    </div>
  </div>

<app-sidebar></app-sidebar>

</div>
