<app-banner></app-banner>
<app-newletterribbon></app-newletterribbon>

<div class="nav-cards">
    <div class="nav-card-item nav-card-one">
      <div class="nav-card-item-icon">icon here</div>
      <h5 class="nav-card-item-header">NEWS</h5>
      <div class="nav-card-item-content">
        <h5>Video "Let's Slow Down"</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor in</p>
        <a class="read-more-link">Read more</a>
      </div>
      <div class="nav-card-item-content">
        <h5>UNICEF Lao PDR Campaign</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor in</p>
        <a class="read-more-link">Read more</a>
      </div>
    </div>
    <div class="nav-card-item nav-card-two">
      <div class="nav-card-item-icon">icon here</div>
      <h5 class="nav-card-item-header">RESOURCES </h5>
      <div class="nav-card-item-content">
        <h5>Church Leaders Pack </h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor in</p>
        <a>Read more</a>
      </div>
      <div class="nav-card-item-content">
        <h5>Parent Instant Messaging </h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor in</p>
        <a>Read more</a>
      </div>
    </div>
    <div class="nav-card-item nav-card-three">
      <div class="nav-card-item-icon">icon here</div>
      <h5 class="nav-card-item-header">PARENTING TIPS</h5>
      <div class="nav-card-item-content">
        <h5>One-to-One time </h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor in</p>
        <a>Read more</a>
      </div>
      <div class="nav-card-item-content">
        <h5>Talk about COVID-19</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor in</p>
        <a>Read more</a>
      </div>
    </div>
  </div>