<app-banner></app-banner>
<app-newletterribbon></app-newletterribbon>
<div class="content page-container">
    <div class="nav-cards main-container">
        <div class="nav-card-item">
            <h5 class="nav-card-item-header">DIGITAL PARENTING TIPS</h5>
            <div class="nav-card-item-content">
                <div class="nav-card-item-content">
                    <p>
                        Download our faith-based resources for more information on how you can reach parents and caregivers during religious festivals, rituals, church ceremonies and at private celebrations.
                    </p>
                </div>
                <div class="nav-card-item-content">
                    <h5>Lets Slow down Video</h5>
                    <div>
                        <iframe
                          width="100%"
                          height="150px"
                          src="https://www.youtube.com/embed/j1ShU5pwpaQ"
                          frameborder="0"
                          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                          allowfullscreen>
                        </iframe>
                      </div>
                </div>
                <div class="nav-card-item-content">
                    <h5>ParentText</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor in</p>
                    <hr/>
                </div>
                <div class="nav-card-item-content">
                    <h5>ParentApp</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor in</p>
                    <hr/>
                </div>
            </div>
        </div>
    </div>
    <app-sidebar class="side-bar-container"></app-sidebar>
</div>