<app-banner></app-banner>
<app-newletterribbon></app-newletterribbon>
<div class="content page-container">
  <div class="main-container nav-cards">
    <div class="nav-card-item">
      <h5 class="nav-card-item-header">FAITH-BASED RESOURCES</h5>
      <div class="nav-card-item-content">
        <p>
            Download our faith-based resources for more information on how you can reach parents and caregivers during religious festivals, rituals, church ceremonies and at private celebrations.
       </p>
      </div>

      <div class="nav-card-item-content">
        <h5>Church Leaders Pack</h5>
        <p>
          Download our Guide for Church Leaders to promote positive parenting to families and communities
        </p>
        <p>
         Download the resource <a href="assets/resources/faithbased/church_leader_pack.pdf">here</a>
        </p>
        <hr />
      </div>


      <div class="nav-card-item-content">
        <h5>Muslim Leaders Pack</h5>
        <p>
          Download our Guide for Muslim Leaders to promote positive parenting to families and communities
        </p>
        <p>
            Download the resource <a href="">here</a>
           </p>
        <hr />
      </div>

      <div class="nav-card-item-content">
          <div class="content slow-down-video-content">
        <h5>Lets Slow Down</h5>
        <p>
        Listen to "Let's Slow Down!" - the official COVID19parenting song!
        </p>
        <div class="youtube-container">
            <iframe width="480" height="270" src="https://www.youtube.com/embed/j1ShU5pwpaQ" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
          </div>
        <hr />
    </div>
      </div>
    </div>
  </div>

  <app-sidebar class="side-bar-container"></app-sidebar>
</div>
