<app-banner></app-banner>
<app-newletterribbon></app-newletterribbon>
<div class="content page-container">
  <div class="main-container nav-cards">
    <div class="nav-card-item">
      <h5 class="nav-card-item-header">FAITH-BASED RESOURCES</h5>
      <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
        <p>
          The COVID-19 lockdown has revealed – across the entire world – the challenges of parenting and shown how many parents are eager to learn simple strategies that can make a big difference to their daily family life, wherever they live.        
        </p>
        <br>
        <p>
          As a leader in your religious community, you are ideally placed to promote positive parenting that can make a significant impact on family and community life. 
         </p>
         <br>
         <p>
          Our faith-based resources provide more information on how you can reach parents and caregivers during religious festivals, rituals, church ceremonies and at private celebrations.
         </p>
      </div>
<br>
      <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000">
        <h5>Church Leaders Pack</h5>
        <p>
          Our Guide for Church Leaders promotes positive parenting to families and communities. 
        </p><br>
        <p>
         Download the resource in English <a href="assets/resources/faithbased/church_leader_pack.pdf">here</a>
        </p> <br>
        <p>
          Download the resource in Portuguese (Brazil) <a href="assets/resources/faithbased/church_Leader_Pack_pt-br.pdf">here</a>
         </p> <br>
        <p>
          Download the resource in Spanish <a href="assets/resources/faithbased/church_leader_pack_ES.pdf">here</a>
         </p> <br>
      
      </div>
      <hr />
      <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000">
        <h5>Muslim Leaders Pack</h5>
        <p style="color: blue; font-style: italic;">
          Will be available soon. 
        </p>        
        <hr />
      </div>
        </div>
  </div>
  <app-sidebar class="side-bar-container"></app-sidebar>
</div>
