<div class="content">
<h2 class="h2"> We wish to thank the following organisations and individuals for translating and reviewing our materials.  Thank you!</h2>
<h6 class="h2">Can't find your name? Want us to update your affiliation? Write us a message via Facebook</h6>
<div class="container">    
    <ul>
    <li>Abraham Likhy      </li>
    <li>Adejola Awosanya </li>
    <li>Ah Suhn Ghoemeh (Member of Akha Language and Culture Committee)</li>
    <li>Alexis Rinckenbach    </li>
    <li>Anabela Araújo Pedrosa    </li>
    <li>Ani Jokhadze    </li>
    <li>Ani Movsisyan    </li>
    <li>Anja Goena    </li>
    <li>Anna Booij </li>
    
    <li>Anton Putilin    </li>
    <li>Aye Aye Yee - (Education Specialist, UNICEF)</li>
    <li>Ashin Vonnisara, Dhammasariya (Advisor, Tai Lay Language and culture committee)</li>
    <li>Barbara Ruegger</li>
    <li>Bernice Landoy    </li>
    <li>Brenda May</li>
    
    <li>Brigitte de Hulsters    </li>
    <li>Bumblebee Graphics</li>
    <li>Cai Lon (Treasurer & Office manager, Language and Culture Convention)    </li>
    <li>Carolyn Namutebi    </li>
    <li>Cassia Carvalho - Global Partnership to End Violence Against Children</li>
    <li>Catia Magalhaes    </li>
    <li>Christian Kubb    </li>
    <li>Crous M. Hlungwani - University of Venda</li>
    <li>Dani Sadatun    </li>
    <li>Debbie Harvey    </li>
    <li>Deo Mputu    </li>
    <li>Diketso    </li>
    <li>Dora Jurjević - Croatian Association on Early Childhood intervention</li>
    <li>Elona Toska - UKRI GCRF Accelerate Hub; Department of Sociology, University of Cape Town</li>
    <li>Emily Vargas-Baron    </li>
    <li>Esther Kimokoti    unknown</li>
    <li>Euni Motsa    </li>
    <li>Fatuma Abdullahi - Danish Refugee Council - Somalia</li>
    <li>Fundiswa Menziwa    </li>
    <li>Gauri Divan    </li>
    <li>Gillian Mupotsa    </li>
    <li>Gilmon (Secretary 2, Lahu Language and Culture Convention)</li>
    <li>Godfrey Siu - CHDC School of Medicine, Makerere University College of Health Sciences,</li>
    <li>Hanna Heikkilä</li>
    <li>Hjördís Eva Þórðardóttir    </li>
    <li>Hoi Ching Wong    </li>
    <li>Ida Ferdinandi - UNICEF Country Office in Montenegro</li>
    <li>Imaad Ahmed    </li>
    <li>Ingrid Danila    </li>
    <li>Ivo Kunovski    </li>
    <li>Jaan Aalam    </li>
    <li>Jitendra Jaiswal - Webdunia.com    </li>
    <li>Joel Kubwimana    </li>
    <li>John Isaac    </li>
    <li>John Kjobli    </li>
    <li>Joseph Osafo    </li>
    <li>Joyce Wamoyi - National Institute for Medical Research in Tanzania</li>
    <li>József Cser    </li>
    <li>Ju Hee Lee    </li>
    <li>Karolina Stępniewska - mamotoja.pl</li>
    <li>Khin May Tun Chit, (National Consultant, Myanmar, UNICEF)</li>
    <li>Khin Myint Khine - UNICEF</li>
    <li>Khong Ba Aung - Khong So Chin Language and Culture Committee    </li>
    <li>Lena Godfrey</li>
    
    <li>Lokwang Apaloryonokodos</li>
    <li>Lenssa Teklu    </li>
    <li>Lia York, University of Freiburg</li>
    <li>Liane Alampay    </li>
    <li>Linda Beijer    </li>
    <li>Loredana Aramă    </li>
    <li>Macgerald Mujuru    </li>
    <li>Margiad williams        </li>
    <li>Maria Barbara C. de Menezes - National Programme for Infant and Youth Health</li>
    <li>Marina Banko    </li>
    <li>Marsha Habib    </li>
    <li>Massarwa ​Adeem</li>
    <li>May Thet Thet Oo  (Education Officer, UNICEF)</li>
    <li>Melissa Gail Pancoast</li>
    <li>Naeem Zafar - Protection and Help of Children Against Abuse and Neglect (PAHCHAAN))</li>
    <li>Naghmeh Firouz  </li>
    <li>Nang Sue Nge (Teacher,  Tai Lay Language and culture committee)</li>
    <li>Naoko Imoto    UNICEF Regional Office for Europe and Central Asia</li>
    <li>Natalie McCauley    </li>
    <li>Nayomi Silva    </li>
    <li>Nelia Matinhure</li>
    <li>Noel Kya heh (Chairman, Literature department of Akha Baptist Convention)</li>
    <li>Ntsoaki Khosi - Catholic Relief Service</li>
    <li>Özge Dinç    </li>
    <li>Petra Brnić    </li>
    <li>Phil Green - World Without Orphans</li>
    <li>Priyanka Handa Ram    </li>
    <li>Priyanka Suryawanshi    </li>
    <li>Raghu Balachandran    </li>
    <li>Rasan Baqi - UNICEF</li>
    <li>Rocco Briganti    Specchio Magico - Porcospini Project & CISMAI</li>
    <li>Roe Nwe Wai  (Program Manager, The Leprosy Mission Myanmar)</li>
    <li>Rumaya Juhari    </li>
    <li>Rusudan Bochorishvili    </li>
    <li>Samuel Bojo    </li>
    <li>Sanjana Guha Roy    </li>
    <li>Sara Vargas    </li>
    <li>Say Sokpheap    </li>
    <li>Sergey Prokhorov    </li>
    <li>Seunghun J. Lee    </li>
    <li>Shepherd Sue    </li>
    <li>Sina Urmas    </li>
    <li>Sombat Tapanya    </li>
    
    <li>Sorcha Ní Cheilleachair</li>
    <li>Susan Hillis    </li>
 
    <li>Tek Prasad and Milan Rijal    </li>
    <li>Tekonnang Timee    Kiribati Teachers College</li>
    <li>Thein Tun Oo (computer person, Language and Culture Convention)</li>
    <li>Thi Thu Hien Nguyen</li>
    <li>U Ohng Lwin ( Member of Akha Language and Culture Committee)   </li>
    <li>Viorel Babii    </li>
    <li>William Iamasore Nasak    </li>
    <li>Wilmi Dippenaar    </li>
    <li>Yasmeen Abdullahi - Danish Refugee Council - Somalia</li>
    <li>Young Joo Lee    UNICEF</li>
    <li>Zin Mar Theint, PT (Rehabilitation Manager, The Leprosy Mission Myanmar)</li>
    <li>Zuyi Fang    </li>
    <li>Zuzana Kosmályová</li>
    </ul>
</div>
</div>