<app-banner></app-banner>
<app-newletterribbon></app-newletterribbon>
<div class="content page-container">
    <div class="main-container nav-cards">
        <div class="nav-card-item">
            <h5 class="nav-card-item-header">CONTRIBUTORS</h5>
            <div class="nav-card-item-content">
                <p>
                  We wish to thank the following organisations and individuals for translating and reviewing our materials. Thank you!
                </p>
                <p class="contributors-info"><i>Can't find your name? Want us to update your affiliation? <a routerLink="/contactus">please send us a message!</a></i></p>
              </div>
              <div class="nav-card-item-content">

                <div class="contributors-list" *ngFor="let contributor of visibleContributors">
                  <div  class="contributor"> 
                    {{ contributor.name }}<span *ngIf="contributor.title" >&nbsp;-&nbsp;{{ contributor.title }}</span>
                  </div>   
                  <hr/>
                </div>
      
                <div class="btn-more" (click)="viewMoreContributors()" *ngIf="visibleContributors.length < contributors.length">See more contributors</div> 
                            
              </div>

            
        </div>
    </div>

    <app-sidebar class="side-bar-container"></app-sidebar>
</div>
