<app-banner></app-banner>
<app-newletterribbon></app-newletterribbon>
<div class="content page-container">
  <div class="main-container nav-cards">
    <div class="nav-card-item">
      <h5 class="nav-card-item-header">ABOUT US</h5>
      <div class="nav-card-item-content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse
        </p>
      </div>

      <div class="nav-card-item-content">
        <h5>Our Work</h5>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse
        </p>
        <hr />
      </div>

      <div class="nav-card-item-content">
        <h5>Patners</h5>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        </p>
        
        <div class="nav-cards nav-images ">
            <div class="nav-card-item">
                <img class="partner-logos-img" src="assets/images/partner_logo_who.png"/>
            </div>
            <div class="nav-card-item">
                <img class="partner-logos-img" src="assets/images/partner_logo_unicef.png"/>
            </div>
            <div class="nav-card-item">
                <img class="partner-logos-img" src="assets/images/partner_logo_wwo.png"/>
            </div>
            <div class="nav-card-item">
                <img class="partner-logos-img" src="assets/images/partner_logo_violence.png"/>
            </div>
            <div class="nav-card-item">
                <img class="partner-logos-img" src="assets/images/partner_logo_cdc.png"/>
            </div>
            <div class="nav-card-item">
                <img class="partner-logos-img" src="assets/images/partner_logo_childhood.png"/>
            </div>
            <div class="nav-card-item">
                <img class="partner-logos-img" src="assets/images/partner_logo_accelerate.png"/>
            </div>
            <div class="nav-card-item">
                <img class="partner-logos-img" src="assets/images/partner_logo_iot.png"/>
            </div>
            <div class="nav-card-item">
                <img class="partner-logos-img" src="assets/images/partner_logo_oxford.png"/>
            </div>
            <div class="nav-card-item">
                <img class="partner-logos-img" src="assets/images/partner_logo_usaid.png"/>
            </div>
            <div class="nav-card-item">
                <img class="partner-logos-img" src="assets/images/partner_logo_unodc.png"/>
            </div>
          
        </div>


        <hr />
      </div>

      <div class="nav-card-item-content">
        <h5>Funders</h5>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        </p>
        <hr />
      </div>

      <div class="nav-card-item-content">
        <h5>Contributors</h5>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        </p>
        <a routerLink="/contributors">SEE CONTRIBUTORS</a>
        <hr />
      </div>



    </div>
  </div>

  <app-sidebar class="side-bar-container"></app-sidebar>
</div>
