<app-banner></app-banner>
<app-newletterribbon></app-newletterribbon>
<div class="content page-container">

  <div class="main-container nav-cards ">
    <div class="nav-card-item">
      <h5 class="nav-card-item-header">ABOUT US</h5>
      <br>
      <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000"
        data-aos-anchor-placement="top-bottom">
        <p>
          Parenting for Lifelong Health (PLH) provides open-source and evidence-based parenting resources to support
          parents and caregivers during the COVID-19 pandemic and beyond. These resources focus on building positive
          parent-child relationships and reducing violence against children by learning through play, reinforcing
          positive and managing difficult behaviours, creating structure and routines, talking about COVID-19, keeping
          children safe online, and reducing stress and conflict.
        </p>
        <br>
        <h5> Our Work</h5>
        <p>
          We are working with the World Health Organization (WHO), UNICEF, the Global Partnership to End Violence
          Against Children, USAID, Centers for Disease Control and Prevention (CDC), the Oxford University, the LEGO
          Foundation, the Internet of Good Things & many more, to keep children safe during the COVID-19 pandemic and
          beyond.
        </p>

        <br>
        <h5>Our Principles</h5>
        <p>
          The COVID-19 Parenting team's work and resources are grounded in 5 core principles:
        </p><br>
        <ul>
          <li>
            Evidence-based materials and approaches, with in-built mechanisms for ongoing evaluation and knowledge
            gathering
          </li>
          <li>
            Open-source and non-commercial content and configurations, giving free access to resources
          </li>
          <li>
            Scalable and low-cost designs and dissemination routes, to reach all parents who need support
          </li>
          <li>
            Adaptive messaging and methods, to meet the needs of diverse local cultures and contexts across the globe
          </li>
          <li>
            Playful and empathic scope and spirit, because learning through playful and compassionate interaction are
            the key to positive parenting and child wellbeing
          </li>
        </ul>

      </div>
      <a id="partners-funders" class="anchor"></a> 
      <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000"
        data-aos-anchor-placement="top-bottom">
        <h5>Partners and Funders</h5>
        <p>
          The COVID-19 Playful Parenting team's collaboration has brought together global agencies, governments,
          universities, NGOs, and community organisations to provide evidence-informed playful parenting resources to an
          unprecedented number of people in just a few months of intense work since the COVID-19 pandemic started.
        </p><br>
        <p>
          Our Partners and Funders represent leading organizations each providing strategic leadership on child safety
          initiatives, and committed to helping keep children safe under all circumstances during the pandemic and
          beyond.
        </p>
        <div>
          <hr>
          <br>
          
          <h5>PARTNERS</h5>
        </div>
        <div class="nav-cards nav-images">
          <div class="nav-card-item" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
            <a href="https://www.who.int" target="_blank"><img src="assets/images/partner_logo_who.png" /></a>
          </div>
          <div class="nav-card-item" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
            <a href="https://www.unicef.org" target="_blank"><img src="assets/images/partner_logo_unicef.png" /></a>
          </div>
          <div class="nav-card-item" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
            <a href="https://www.worldwithoutorphans.org" target="_blank"><img
                src="assets/images/partner_logo_wwo.png" /></a>
          </div>
          <div class="nav-card-item" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
            <a href="https://www.end-violence.org" target="_blank"><img
                src="assets/images/partner_logo_violence.png" /></a>
          </div>
          <div class="nav-card-item" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
            <a href="https://www.cdc.gov/" target="_blank"><img src="assets/images/partner_logo_cdc.png" /></a>
          </div>
          <div class="nav-card-item" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
            <a href="https://childhood.org" target="_blank"><img src="assets/images/partner_logo_childhood.png" /></a>
          </div>
          <div class="nav-card-item" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
            <a href="https://www.acceleratehub.org" target="_blank"><img
                src="assets/images/partner_logo_accelerate.png" /></a>
          </div>
          <div class="nav-card-item">
            <a href="https://www.internetofgoodthings.org" target="_blank" data-aos-anchor-placement="top-bottom"><img
                src="assets/images/partner_logo_iot.png" /></a>
          </div>
          <div class="nav-card-item" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
            <a href="https://www.ox.ac.uk" target="_blank">
              <img src="assets/images/partner_logo_oxford.png" />
            </a>
          </div>
          <div class="nav-card-item" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
            <a href="https://www.usaid.gov" target="_blank"><img src="assets/images/partner_logo_usaid.png" /></a>
          </div>
          <div class="nav-card-item" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
            <a href="https://www.unodc.org" target="_blank">
              <img src="assets/images/partner_logo_unodc.png" />
            </a>
          </div>
          <div class="nav-card-item" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
            <a href="https://www.idems.international" target="_blank">
              <img src="assets/images/partner_logo_idems.png" />
            </a>
          </div>
          <div class="nav-card-item" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
            <a href="https://www.idems.international" target="_blank">
              <img src="assets/images/patner_logo_maestral.png" />
            </a>
          </div>
          <div class="nav-card-item" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
            <a href="" target="_blank">
              <img src="assets/images/partner_logo_plh.png" />
            </a>
          </div>

          <div class="nav-card-item" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
            <a href="https://www.togetherforgirls.org/" target="_blank">
              <img src="assets/images/partner_logo_forgirls.png" />
            </a>
          </div>

        </div>
        <hr />
        <!-- FUNDERS STARTM HERE INCASE IT CHANGES INTHE FUTURE-->
<br>
        <div>
          <h5>FUNDERS</h5>
        </div>
        <div class="nav-cards nav-images">
          <div class="nav-card-item" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
            <a href="https://www.newtonfund.ac.uk" target="_blank">
              <img src="assets/images/funder_logo_netwonfund.png" />
            </a>
          </div>
          <div class="nav-card-item" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
            <a href="https://www.ukri.org" target="_blank">
              <img src="assets/images/funder_logo_ukresearch.png" />
            </a>
          </div>
          <div class="nav-card-item" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
            <a href="https://www.ukri.org/our-work/collaborating-internationally/global-challenges-research-fund">
              <img src="assets/images/funder_logo_gcr.png" />
            </a>
          </div>
          <div class="nav-card-item" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
            <a href="https://www.ox.ac.uk" target="_blank">
              <img src="assets/images/funder_logo_oxford.png" />
            </a>
          </div>
          <div class="nav-card-item" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
            <a href="https://clownswithoutborders.org" target="_blank">
              <img src="assets/images/funder_logo_clowns.png" />
            </a>
          </div>
          <div class="nav-card-item" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
            <a href="https://oakfnd.org" target="_blank">
              <img src="assets/images/funder_logo_oak.png" />
            </a>
          </div>
          <div class="nav-card-item" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
            <a href="https://www.legofoundation.com" target="_blank">
              <img src="assets/images/funder_logo_lego.png" />
            </a>
          </div>
          <div class="nav-card-item" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
            <a href="https://www.legofoundation.com" target="_blank">
              <img src="assets/images/funder_logo_erc.png" />
            </a>
          </div>
          <div class="nav-card-item" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
            <a href="https://www.unicef.org" target="_blank"><img src="assets/images/partner_logo_unicef.png" /></a>
          </div>
          <div class="nav-card-item" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
            <a href="https://www.end-violence.org" target="_blank"><img
                src="assets/images/partner_logo_violence.png" /></a>
          </div>
        </div>

        <hr />
        <br>
                <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000"
          data-aos-anchor-placement="top-bottom">
          <h5>CONTRIBUTORS</h5>
          <p>
            We wish to thank the following organisations and individuals for
            translating and reviewing our materials.
          </p><br>
          <p>
            Thank you for your invaluable contribution!
          </p>
<br>
          <P>
            Please send us a message at <a href="mailto:publicity@covid19parenting.com"> publicity@covid19parenting.com
            </a> if you
            wish to be acknowledged as a contributor.
          </P>
          <a routerLink="/contributors">SEE CONTRIBUTORS</a>
        </div>
        <hr />
<br>
<a id="contact" class="anchor"></a> 
        <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000"
          data-aos-anchor-placement="top-bottom">
          <h5>CONTACT US</h5>
          <h5 style="font-size: small;">TRANSLATIONS</h5>
          <p>
            If you would like to help translate our parenting tip sheets and other resources into your language, please
            send us a message at:
            <a href="mailto:translate@covid19parenting.com">
              translate@covid19parenting.com
            </a>
          </p>
          <h5 style="font-size: small;">ACKNOWLEDGMENTS</h5>
          <p>
            If you wish to be acknowledged as a Partner, Funder or Contributor, please send us a message at: <a
              href="mailto:publicity@covid19parenting.com">publicity@covid19parenting.com
            </a>
          </p>

          <h5 style="font-size:small;">GENERAL QUERIES</h5>
          <p>
            For general queries, you can send us message at: <a
              href="mailto:contact@covid19parenting.com">contact@covid19parenting.com
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <app-sidebar class="side-bar-container"></app-sidebar>

</div>