<nav class="header-container">
 <div class="content header-contents">
    <div class="media-icons">
        <a class="facebook-icon" href="https://www.facebook.com/PLH-Parenting-for-Lifelong-Health-479688329453239"><img src="assets/images/fb_icon.svg" /></a>
      </div>
    
      <div class="toolbar">
        <img class="plh-logo" src="assets/images/plh_logo1.png" />
        <div class="website-title">Covid 19 Parenting</div>
        <div class="desktop-menu">
          <a *ngFor="let item of menuItems" class="menu-item" [routerLink]="item.href" >{{ item.name }}</a>
        </div>
        <div class="menu-icon" (click)="menuDropdownOpen = !menuDropdownOpen">
          <svg width="60"  height="52" viewBox="0 0 60 52"  fill="none"  xmlns="http://www.w3.org/2000/svg" >
            <rect width="60" height="12" fill="#333333" />
            <rect y="20" width="60" height="12" fill="#333333" />
            <rect y="40" width="60" height="12" fill="#333333" />
          </svg>
        </div>
      </div>
    
      <div class="mobile-menu" [@openClose]="menuDropdownOpen ? 'open' : 'closed'">
        <a *ngFor="let item of menuItems"  class="menu-item"  [routerLink]="item.href"  >{{ item.name }}</a>
      </div>
 </div>
    
</nav>
