.header-container {
  height: 130px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 10px;
}

.header-contents{
  padding: 0;
}

.media-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  //align-items: flex-end;
}

.facebook-icon {
  //width: 30px;
  //align-self: flex-end;
  //align-self: center;
  //margin: 15px;
}

.facebook-icon img {
  width: 30px;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  //justify-content: center;
}

.plh-logo {
  width: 100px;
  height: 80px;
  //display: flex;
  //align-self: center;
}

.desktop-menu {
  display: flex;
  flex-direction: row;
}

.desktop-menu a {
  text-decoration: none;
  font-family: "roboto-bold";
  color: #0b4061;
  padding: 10px 25px;
  align-self: center;
  border-radius: 25px;
}

.desktop-menu a:hover {
  //todo. should be underlines
  color: white;
  background: #ed1651;
}

/* selected link. todo. remove find away to have this done dynamically. */
.desktop-menu a:active {
  color: white;
  background: #ed1651;
}

/* called dynamically */
.menu-item-active {
  color: white;
  background: red;
}

.mobile-menu {
  display: none;
  height: 0px;
  overflow: hidden;
  background: #ffffff; //todo
}

.mobile-menu a {
  text-decoration: none;
  font-family: "roboto-bold";
  color: #0b4061;
  padding-top: 10px;
  padding-left: 10px;
  //padding: 10px 25px;
  //align-self: center;
  //border-radius: 25px;
  //border-width: 2px;
}



.website-title {
  font-size: 30px; //todo. convert to ems
  display: none;
  align-self: center;
  //margin: 20px; //todo
}


.menu-icon {
  width: 30px;
  display: none;
  //align-self: center;
  //margin: 15px;
}

@media only screen and (max-width: 750px) {
  .media-icons{
    display: none;
  }

  .website-title {
    display: block;
  }

  .desktop-menu {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 360px) {
  .website-title {
    display: none; //todo. reduce size instead of this?
  }
}
