
.header-container {
  height: 120px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 10px;
}

.header-contents {
  padding: 0;
}

.media-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.facebook-icon img {
  width: 30px;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.plh-logo {
  width: 100px;
  height: 80px; 
}

.desktop-menu {
  display: flex;
  flex-direction: row;
}

.desktop-menu a {
  text-decoration: none;
  font-family: "roboto-bold";
  color: #0b4061;
  padding: 10px 25px;
  align-self: center;
  border-radius: 25px;
  font-size: 30px;
}

.desktop-menu a:hover {
  //todo. should be underlines
  color: #ffffff;
  background: #ed1651;
}

/* todo. to be called dynamically in typescript file */
.menu-item-active {
  color: #ffffff;
  background: red;
}

/* mobile menu Overlay (background) */
.mobile-menu-overlay {
  height: 0;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the mobile menu overlay */
.mobile-menu-overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* important. 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation menu links inside the overlay */
.mobile-menu-overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181; /* whitish color */
  display: block; /* Display block instead of inline */
  font-family: "roboto-light";
}

/* Position the close button (top right corner) */
.mobile-menu-overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}


.website-title {
  display: none;
}

.menu-icon {
  display: none;
}

@media only screen and (max-width: 750px) {
  .media-icons {
    display: none;
  }

  .desktop-menu {
    display: none;
  }

  .website-title {
    display: block;
    color: #0b4061;
    font-family: "roboto-bold";
    //font-size: 30px; //todo. convert to ems
    align-self: center;
    margin: 0px;
  }

  .menu-icon {
    display: block;
    align-self: center;
    margin-right: 6px;
  }

  .menu-icon div {
    width: 35px;
    height: 5px;
    background-color: #0b4061;
    margin: 6px 0;
  }

}

@media only screen and (max-width: 360px) {
  .website-title {
    display: none; //todo. reduce size instead of this?
  }
}
