
<nav  class="navbar fixed-top">
  <div class="content header-contents">
    <div class="toolbar">
      <img class="plh-logo" alt="Parenting for Lifelong Health Logo" src="assets/images/plh_logo1.svg" />
      <div class="website-title"><h2>Covid 19 Parenting</h2></div>
      <div class="desktop-menu">
        <a *ngFor="let item of menuItems" [routerLink]="item.href" >{{ item.name }}</a>
      </div>
      <app-social-media-icons placement="toolbar"></app-social-media-icons>
      
      <div class="menu-icon" (click)="menuDropdownOpen = true">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div> 

    <!--for the mobile menu-->
    <div id="mobileMenu" class="mobile-menu-overlay" [ngStyle]="{'height': menuDropdownOpen ? '100%' : '0%' }">
      <!-- button to close the overlay navigation -->
      <a href="#" class="closebtn" (click)="menuDropdownOpen = false">&times;</a>
       <!-- menu nav links content -->
      <div class="mobile-menu-overlay-content">
        <a *ngFor="let item of menuItems" [routerLink]="item.href" (click)="menuDropdownOpen = false" >{{ item.name }}</a>
        <div class="social-media-mobile">
          <app-social-media-icons placement="mobile-menu"></app-social-media-icons>
        </div>
      </div>
    </div>
  </div>

</nav>
<div class="spacer">
</div>
