.navbar {
  /*background-color: rgba(255, 255, 255, 1);*/
  background: #5dbcd2;
}

.spacer {
  height: 120px;
  display: block;
}

.header-contents {
  padding: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.desktop-menu {
  /*padding-bottom: 10px;*/
  /*border-bottom: 1px solid #0b4061;*/
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
}

.desktop-menu-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.desktop-menu-items .menu-item {
  align-self: center;
}

.desktop-menu-items .menu-item a {
  font-weight: 500;
  text-decoration: none;
  /*color: #0b4061;*/
  color: #ffffff;
  line-height: 1.2;
  font-size: 1.2rem;
  transition-duration: 0.4s;
}

.desktop-menu-items .menu-item a:hover {
  text-decoration: none;
  /*border-bottom: 4px solid #0b4061;*/
  /* color: #0b4061;*/
  color: #ffffff;
  border-bottom: 4px solid #ffffff;
}

.menu-item:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  /*background-color: #f1f1f1;*/
  background-color: #5dbcd2;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content .dropdown-item {
  background-color: #5dbcd2;
}

.dropdown-content .dropdown-item a {
  background-color: #5dbcd2;
  color: #ffffff;
}

.dropdown-content .dropdown-item a:hover {
  //background: #ffffff;
  background-color: #5dbcd2;
  color: #ffffff;
}

/* mobile menu Overlay (background) */
.mobile-menu-overlay {
  height: 0;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0); /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the mobile menu overlay */
.mobile-menu-overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* important. 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation menu links inside the overlay */
.mobile-menu-overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181; /* whitish color */
  display: block; /* Display block instead of inline */
  font-weight: 300;
}

/* Position the close button (top right corner) */
.mobile-menu-overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.website-title {
  display: none;
}

.menu-icon {
  display: none;
}

@media only screen and (max-width: 900px) {
  .toolbar {
    justify-content: space-between;
  }

  .desktop-menu {
    display: none;
  }

  .website-title {
    display: block;
    /*color: #0b4061;*/
    color: #ffffff;
    font-weight: 500;
    font-size: 1.6rem;
    align-self: center;
    margin: 0px;
  }

  .menu-icon {
    display: block;
    align-self: center;
    margin-right: 6px;
  }

  .menu-icon div {
    width: 35px;
    height: 5px;
    /*background-color: #0b4061;*/
    background-color: #ffffff;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 450px) {
  .website-title {
    margin-left: 6px;
    margin-top: 3px;
  }

  .website-title h2 {
    font-size: 1.6rem;
  }

  .menu-icon div {
    width: 30px;
    height: 3px;
    margin: 3px 0;
  }
}
