<app-banner></app-banner>
<app-newletterribbon></app-newletterribbon>
<div class="content page-container">
  <div class="main-container nav-cards">
    <div class="nav-card-item">
      <h5 class="nav-card-item-header">PUBLIC SERVICE ANNOUNCEMENTS</h5>
      <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000">
        <p>
          Our Public Service Announcement (PSA) resources are messages in the public interest that are designed to be disseminated without charge, and with the objective of raising awareness of, and improving parenting during the COVID-19 pandemic and beyond. 
        </p>
        <br>
        <p>
          If you would like to have PSA resources available in your language, please send us an email at: <a href="mailto:translate@covid19parenting.com">translate@covid19parenting.com</a>
        </p>
        <br>
        <p>
          Please note that these translations were not created by the World Health Organization (WHO), and WHO is not responsible for the content or accuracy of these translations .
        </p>
      </div>

      <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000">
        <h5>BIKOL</h5>
        <p>See PSAs in Bikol <a href="assets/resources/psas/PSA-Bikol.pdf">here</a></p>
        <p>
          See how to use PSAs in Bikol
          <a href="assets/resources/psas/How-to-PSA-Bikol.pdf">here</a>
        </p>

        <hr />
      </div>

      <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000">
        <h5>BISAYA(CEBUANO)</h5>
        <p>
          See how to use PSAs in Bisaya(Cebuano)
          <a href="assets/resources/psas/How-to-PSA-Bisaya.pdf">here</a>
        </p>
        <hr />
      </div>


      <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000">
        <h5>CHAVAKANO</h5>
        <p>See PSAs in Chavacano  <a href="assets/resources/psas/PSA-Chavacano.pdf">here</a></p>
                <hr />
      </div>

      <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000">
        <h5>CHINESE</h5>
        <p>
          See PSAs in Chinese <a href="assets/resources/psas/PSA-Chinese.pdf">here</a>
        </p>
        <p>
          See how to use PSAs in Chinese
          <a href="assets/resources/psas/How-to-PSA-Chinese.pdf">here</a>
        </p>
               <hr />
      </div>
            <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000">
        <h5>ENGLISH</h5>
        <p>
          See PSAs in English <a href="assets/resources/psas/PSA-English.pdf">here</a>
        </p>
        <p>
          See how to use PSAs in English
          <a href="assets/resources/psas/How-to-PSA-English.pdf">here</a>
        </p>

        <p>
          See USAID Sound Bite Tip Sheets in English 
          <a href="assets/resources/psas/USAID-Sound-Bite-English .pdf">here</a>
        </p>

        <hr />
      </div>

      <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000">
        <h5>FILIPINO</h5>
        <p>See PSAs in Filipino <a href="assets/resources/psas/PSA-Filipino.pdf">here</a></p>
                <hr />
      </div>

      <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000">
        <h5>FRENCH</h5>
        <p>See PSAs in French <a href="assets/resources/psas/PSA-French.pdf">here</a></p>
        <p>
          See how to use PSAs in French
          <a href="assets/resources/psas/How-to-PSA-French.pdf">here</a>
        </p>

        <hr />
      </div>

      <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000">
        <h5>MAGUINDANAO</h5>
        <p>See PSAs in Maguindanao <a href="assets/resources/psas/PSA-Maguindanao.pdf">here</a></p>
               <hr />
      </div>

      <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000">
        <h5>HINDI</h5>
        <p>
          See how to use PSAs in Hindi
          <a href="assets/resources/psas/How-to-PSA-Hindi.pdf">here</a>
        </p>
                <hr />
      </div>

      <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000">
        <h5>ILOKANO</h5>
        <p>
          See how to use PSAs in Ilokano
          <a href="assets/resources/psas/How-to-PSA-Ilokano.pdf">here</a>
        </p>
        <hr />
      </div>

      <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000">
        <h5>MALAY</h5>
        <p>See PSAs in Malay <a href="assets/resources/psas/PSA-Malay.pdf">here</a></p>
        <p>
          See how to use PSAs in Malay
          <a href="assets/resources/psas/How-to-PSA-Malay.pdf">here</a>
        </p>

        <hr />
      </div>

      <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000">
        <h5>MARANAO</h5>
        <p>See PSAs in Maranao <a href="assets/resources/psas/PSA-Maranao.pdf">here</a></p>
        <hr />
      </div>

      <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000">
        <h5>PORTUGUESE</h5>
        <p>
          See PSAs in Portuguese
          <a href="assets/resources/psas/PSA-Portuguese.pdf">here</a>
        </p>
        <p>
          See how to use PSAs in Portuguese
          <a href="assets/resources/psas/How-to-PSA-Portuguese.pdf">here</a>
        </p>

        <hr />
      </div>

      <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000">
        <h5>RUSSIAN</h5>
        <p>
          See PSAs in Russian <a href="assets/resources/psas/PSA-Russian.pdf">here</a>
        </p>
        <p>
          See how to use PSAs in Russian
          <a href="assets/resources/psas/PSA-Russian.pdf">here</a>
        </p>

        <hr />
      </div>
      <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000">
        <h5>SPANISH</h5>
        <p>
          See PSAs in Spanish <a href="assets/resources/psas/PSA-Spanish.pdf">here</a>
        </p>
        <p>
          See how to use PSAs in SPanish
          <a href="assets/resources/psas/How-to-PSA-Spanish.pdf">here</a>
        </p>

        <hr />
      </div>     
      
     <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000">
        <h5>TURKISH</h5>
        <p>
          See PSAs in Turkish <a href="assets/resources/psas/PSA-Turkish.pdf">here</a>
        </p>
        <p>
          See how to use PSAs in Turkish
          <a href="assets/resources/psas/How-to-PSA-Turkish.pdf">here</a>
        </p>

        <hr />
      </div>

      <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000">
        <h5>WARAY</h5>
        <p>
          See PSAs in Waray <a href="assets/resources/psas/PSA-Waray.pdf">here</a>
        </p>
                <hr />
      </div>

      <div class="nav-card-item">
        <h5 class="nav-card-item-header">TOP 6 PARENTING TIPS</h5>
        <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000">
          <h5>Our Top 6 Parenting Tips are available in the languages below.</h5>
      
          <a href="assets/resources/psas/Top-6-Tips-Albanian.pdf" target="_blank">Albanian</a>
          <hr/>
            <a href="assets/resources/psas/Top-6-Tips-Arabic.pdf" target="_blank">Arabic</a>
           <hr/>
           <a href="assets/resources/psas/Top-6-Tips-Chinese.pdf" target="_blank">Chinese</a>
           <hr/>
            <a href="assets/resources/psas/Top-6-Tips-English.pdf" target="_blank">English</a>
          <hr/>
          <a href="assets/resources/psas/Top-6-Tips-Montenegrin.pdf" target="_blank">Montenegrin</a>
          <hr/>
          <a href="assets/resources/psas/Top-6-Tips-Romani.pdf" target="_blank">Romani</a>
          <hr/>
          <a href="assets/resources/psas/Top-6-Tips-Russian.pdf" target="_blank">Russian</a>
          <hr/>
      </div>
      </div>
    </div>


  </div>

  <app-sidebar class="side-bar-container"></app-sidebar>
</div>

