<div class="content">
    <h2>Public Service Announcements (PSAs) and how to use them</h2>

    <div>
        <a href="assets/PSAs/PSA-English.pdf"><button class="buttons"> <a href="assets/PSAs/PSA-English.pdf"
                    class="button-text">PSAs in
                    English</a></button></a>

        <a href="assets/PSAs/How-to-PSA-English.pdf"><button class="buttons"> <a
                    href="assets/PSAs/How-to-PSA-English.pdf" class="button-text">How to use PSAs in
                    English</a></button></a>

        <a href="assets/PSAs/PSA-Spanish.pdf"><button class="buttons"> <a href="assets/PSAs/PSA-Spanish.pdf"
                    class="button-text">PSAs in
                    Spanish</a></button></a>

        <a href="assets/PSAs/How-to-PSA-Spanish.pdf"><button class="buttons"> <a
                    href="assets/PSAs/How-to-PSA-Spanish.pdf" class="button-text">How to use PSAs in
                    Spanish</a></button></a>


        <a href="assets/PSAs/PSA-French.pdf"><button class="buttons"> <a href="assets/PSAs/PSA-French.pdf"
                    class="button-text">PSAs in
                    French</a></button></a>

        <a href="assets/PSAs/How-to-PSA-French.pdf"><button class="buttons"> <a href="assets/PSAs/How-to-PSA-French.pdf"
                    class="button-text">How to use PSAs in
                    French</a></button></a>
        

 <a href="assets/PSAs/PSA-Russian.pdf"><button class="buttons"> <a href="assets/PSAs/PSA-Russian.pdf"
                    class="button-text">PSAs in
                    Russian</a></button></a>

                    <a href="assets/PSAs/How-to-PSA-Russian.pdf"><button class="buttons"> <a href="assets/PSAs/How-to-PSA-Russian.pdf"
                    class="button-text">How to use PSAs in Russian</a></button></a>

                    <a href="assets/PSAs/USAID-Sound-Bite-English.pdf"><button class="buttons"> <a
                    href="assets/PSAs/USAID-Sound-Bite-English.pdf" class="button-text">USAID Sound Bite Tip Sheets in
                    English</a></button></a>

                    <a href="assets/PSAs/Top-6-Tips-Russian.pdf"><button class="buttons"> <a
                    href="assets/PSAs/Top-6-Tips-Russian.pdf" class="button-text">Top 6 parenting tips in Russian</a></button></a>
    </div>
</div>