<app-banner></app-banner>
<app-newletterribbon></app-newletterribbon>
<div class="content page-container">
  <div class="nav-cards main-container">
    <div class="nav-card-item">
      <h5 class="nav-card-item-header">PUBLIC SERVICE ANNOUNCEMENTS</h5>
      <div class="nav-card-item-content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor in
        </p>
      </div>

      <div class="nav-card-item-content">
        <h5>ENGLISH</h5>
        <p>
          See PSAs in English <a href="assets/PSAs/PSA-English.pdf">here</a>
        </p>
        <p>
          See how to use PSAs in English
          <a href="assets/PSAs/How-to-PSA-English.pdf">here</a>
        </p>

        <hr />
      </div>

      <div class="nav-card-item-content">
        <h5>SPANISH</h5>
        <p>
          See PSAs in Spanish <a href="assets/PSAs/PSA-Spanish.pdf">here</a>
        </p>
        <p>
          See how to use PSAs in SPanish
          <a href="assets/PSAs/How-to-PSA-Spanish.pdf">here</a>
        </p>

        <hr />
      </div>

      <div class="nav-card-item-content">
        <h5>FRENCH</h5>
        <p>See PSAs in French <a href="assets/PSAs/PSA-French.pdf">here</a></p>
        <p>
          See how to use PSAs in French
          <a href="assets/PSAs/How-to-PSA-French.pdf">here</a>
        </p>

        <hr />
      </div>

      <div class="nav-card-item-content">
        <h5>RUSSIAN</h5>
        <p>
          See PSAs in Russian <a href="assets/PSAs/PSA-Russian.pdf">here</a>
        </p>
        <p>
          See how to use PSAs in Russian
          <a href="assets/PSAs/PSA-Russian.pdf">here</a>
        </p>

        <hr />
      </div>

      <div class="nav-card-item-content">
        <h5>MALAY</h5>
        <p>See PSAs in Malay <a href="assets/PSAs/PSA-Malay.pdf">here</a></p>
        <p>
          See how to use PSAs in Malay
          <a href="assets/PSAs/How-to-PSA-Malay.pdf">here</a>
        </p>

        <hr />
      </div>

      <div class="nav-card-item-content">
        <h5>PORTUGUESE</h5>
        <p>
          See PSAs in Portuguese
          <a href="assets/PSAs/PSA-Portuguese.pdf">here</a>
        </p>
        <p>
          See how to use PSAs in Portuguese
          <a href="assets/PSAs/How-to-PSA-Portuguese.pdf">here</a>
        </p>

        <hr />
      </div>

      <div class="nav-card-item-content">
        <h5>TURKISH</h5>
        <p>
          See PSAs in Turkish <a href="assets/PSAs/PSA-Turkish.pdf">here</a>
        </p>
        <p>
          See how to use PSAs in Turkish
          <a href="assets/PSAs/How-to-PSA-Turkish.pdf">here</a>
        </p>

        <hr />
      </div>

      <div class="nav-card-item-content">
        <h5>BIKOL</h5>
        <p>See PSAs in Bikol <a href="assets/PSAs/PSA-Bikol.pdf">here</a></p>
        <p>
          See how to use PSAs in Bikol
          <a href="assets/PSAs/How-to-PSA-Bikol.pdf">here</a>
        </p>

        <hr />
      </div>

      <div class="nav-card-item-content">
        <h5>CHINESE</h5>
        <p>
          See PSAs in Chinese <a href="assets/PSAs/PSA-Chinese.pdf">here</a>
        </p>
        <p>
          See how to use PSAs in Chinese
          <a href="assets/PSAs/How-to-PSA-Chinese.pdf">here</a>
        </p>

        <hr />
      </div>

      <div class="nav-card-item-content">
        <h5>BISAYA(CEBUANO)</h5>
        <p>
          See how to use PSAs in Bisaya(Cebuano)
          <a href="assets/PSAs/How-to-PSA-Bisaya.pdf">here</a>
        </p>
        <hr />
      </div>

      <div class="nav-card-item-content">
        <h5>ILOKANO</h5>
        <p>
          See how to use PSAs in Ilokano
          <a href="assets/PSAs/How-to-PSA-Ilokano.pdf">here</a>
        </p>
        <hr />
      </div>
    </div>
  </div>

  <app-sidebar class="side-bar-container"></app-sidebar>
</div>

<!-- <div class="content">
  <div>
    <a href="assets/PSAs/USAID-Sound-Bite-English.pdf">
      <button class="buttons">
        <a href="assets/PSAs/USAID-Sound-Bite-English.pdf" class="button-text">
          USAID Sound Bite Tip Sheets in English
        </a>
      </button>
    </a>

    <a href="assets/PSAs/Top-6-Tips-Montenegrin.pdf">
      <button class="buttons">
        <a href="assets/PSAs/Top-6-Tips-Montenegrin.pdf" class="button-text">
          Top 6 parenting tips in Montenegrin</a
        >
      </button>
    </a>

    <a href="assets/PSAs/Top-6-Tips-Russian.pdf">
      <button class="buttons">
        <a href="assets/PSAs/Top-6-Tips-Russian.pdf" class="button-text">
          Top 6 parenting tips in Russian</a
        >
      </button>
    </a>
  </div>
</div> -->
