
<div class="banner-slideshow-container">

  <div class="banner-slide banner-fade">
    <div class="banner-number-text">1 / 5</div>
    <img src="assets/images/banner_image_1.png" style="width:100%">
    <div class="banner-text">Caption One</div>
  </div>
  <div class="banner-slide banner-fade">
    <div class="banner-number-text">2 / 5</div>
    <img src="assets/images/banner_image_2.png" style="width:100%">
    <div class="banner-text">Caption Two</div>
  </div>
  <div class="banner-slide banner-fade">
    <div class="banner-number-text">3 / 5</div>
    <img src="assets/images/banner_image_3.png" style="width:100%">
    <div class="banner-text">Caption Three</div>
  </div>
  <div class="banner-slide banner-fade">
    <div class="banner-number-text">4 / 5</div>
    <img src="assets/images/banner_image_4.png" style="width:100%">
    <div class="banner-text">Caption Four</div>
  </div>
  
  <a class="banner-prev" (click)="plusSlides(-1)">&#10094;</a>
  <a class="banner-next" (click)="plusSlides(1)">&#10095;</a>
  
</div>
 