
<div class="banner-slideshow-container"> 

  <div class="banner-slide banner-fade">
    <div class="banner-number-text">1 / 13</div>
    <img src="assets/images/banner_image_1.jpg" style="width:100%">
    <div class="banner-text">Caption One</div>
  </div>
  <div class="banner-slide banner-fade">
    <div class="banner-number-text">2 / 13</div>
    <img src="assets/images/banner_image_2.jpg" style="width:100%">
    <div class="banner-text">Caption Two</div>
  </div>
  <div class="banner-slide banner-fade">
    <div class="banner-number-text">3 / 12</div>
    <img src="assets/images/banner_image_3.jpg" style="width:100%">
    <div class="banner-text">Caption Three</div>
  </div>
  <div class="banner-slide banner-fade">
    <div class="banner-number-text">4 / 13</div>
    <img src="assets/images/banner_image_12.jpg" style="width:100%">
    <div class="banner-text">Caption Four</div>
  </div>
  <div class="banner-slide banner-fade">
    <div class="banner-number-text">5 / 12</div>
    <img src="assets/images/banner_image_5.jpg" style="width:100%">
    <div class="banner-text">Caption Five</div>
  </div>

  <div class="banner-slide banner-fade">
    <div class="banner-number-text">6 / 13</div>
    <img src="assets/images/banner_image_6.jpg" style="width:100%">
    <div class="banner-text">Caption Six</div>
  </div>

  <div class="banner-slide banner-fade">
    <div class="banner-number-text">7 / 13</div>
    <img src="assets/images/banner_image_7.jpg" style="width:100%">
    <div class="banner-text">Caption Seven</div>
  </div>
  <div class="banner-slide banner-fade">
    <div class="banner-number-text">8 / 13</div>
    <img src="assets/images/banner_image_8.jpg" style="width:100%">
    <div class="banner-text">Caption Eight</div>
  </div>
  <div class="banner-slide banner-fade">
    <div class="banner-number-text">9 / 13</div>
    <img src="assets/images/banner_image_9.jpg" style="width:100%">
    <div class="banner-text">Caption Nine</div>
  </div>
  <div class="banner-slide banner-fade">
    <div class="banner-number-text">10 / 13</div>
    <img src="assets/images/banner_image_10.jpg" style="width:100%">
    <div class="banner-text">Caption Ten</div>
  </div>
  <div class="banner-slide banner-fade">
    <div class="banner-number-text">11 / 13</div>
    <img src="assets/images/banner_image_11.jpg" style="width:100%">
    <div class="banner-text">Caption Eleven</div>
  </div>
  <div class="banner-slide banner-fade">
    <div class="banner-number-text">12 / 13</div>
    <img src="assets/images/banner_image_12.jpg" style="width:100%">
    <div class="banner-text">Caption twelve</div>
  </div>

  <div class="banner-slide banner-fade">
    <div class="banner-number-text">13 / 13</div>
    <img src="assets/images/banner_image_13.jpg" style="width:100%">
    <div class="banner-text">Caption thirteen</div>
  </div>
 
  <a class="banner-prev" (click)="plusSlides(-1)">&#10094;</a>
  <a class="banner-next" (click)="plusSlides(1)">&#10095;</a>
  
</div>
 