
.nav-card-item hr {
    border-color: #5dbcd2;
  }
  
  .nav-card-item .nav-card-item-header {
    background: #5dbcd2;
  }
  
  .nav-card-item .nav-card-item-content h5 {
    color: #5dbcd2;
  }
  
  .nav-card-item-content a {
    color: #5dbcd2;
  }