<app-banner></app-banner>
<app-newletterribbon></app-newletterribbon>
<div class="content page-container">
  <div class="main-container nav-cards">
    <div class="nav-card-item">
      <h5 class="nav-card-item-header">CHAMPIONS OF CHILDREN</h5>
      <div class="nav-card-item-content">
        <p>
          The COVID-19 Playful Parenting team's collaboration has brought
          together global agencies, governments, universities, NGOs, and
          community organisations to provide evidence-informed playful parenting
          resources to an unprecedented number of people in just a few months of
          intense work since the COVID-19 pandemic started.
        </p>
        <br>
        <p>
          Check their amazing stories and see how they help make a real
          difference in the lives of parents, caregivers and children!
        </p>
      </div>


      <div class="nav-card-item-content">
        <h5>CAMEROON | Broadcasting the COVID-19 Parenting through 55 media houses</h5>
        <div class="preview-text">
          <p> Our team is working with the Society for the Promotion of Initiatives in Sustainable Development and
            Welfare (SOPISDEW) in Bamenda, Cameroon. SOPISDEW is also working with Foundation Hirondelle, a Swiss
            NGO, to broadcast the COVID-19 Parenting information through 55 media houses in Cameroon using our radio
            scripts. Daily announcements on the resources are made via CBS radio in Bamenda, and families are given
            focused support The Chief Clinical Counsellor and Social Worker at the organisation shared one mother’s
            story.</p>

        </div>
      </div>
      <hr />
      <div class="nav-card-item-content">
        <h5>UNICEF Lao PDR | Reaching 1 million people across the country</h5>
                    <div class="preview-text">
              <p>UNICEF Lao PDR has formed close partnerships with various Ministries, Mass Organizations in Lao PDR, UN
                and INGOs, which has led to our parenting resources being used for the development of multiple radio and
                TV programmes targeting to reach 1 million people across the country. The parenting tips have also been
                shared on their website, social media platforms and disseminated through existing networks and
                quarantine camps, which collectively reached around 100,000 people.</p><br>
              <p>
                See more about UNICEF Lao PDR <a style="font-size: 16px; font-weight: 500;"
                  href="https://www.unicef.org/laos/reports/coronavirus-covid-19-tips-parents">here.</a>
              </p>           

        </div>
      </div>
      <hr />
      <div class="nav-card-item-content">
        <h5>SUDAN | Reaching 300,000 families </h5>
        
            <div class="preview-text">
              <p>In Sudan, we have reached an estimated 300,000 families with the COVID-19 resources through churches,
                businesses, schools and social media. The tip sheets were distributed across major Coptic Christian
                churches, through businesses such as the DAL group and on Facebook, WhatsApp and as posters throughout
                Khartoum.</p>
           
        </div>
      </div>
      <hr />
      <div class="nav-card-item-content">
        <h5>Kyrgyzstan Without Orphans | Short animated videos reach 2 million viewers </h5>
        
            <div class="preview-text">
              <p>This innovative organisation has created short animated videos based on each of our parenting tips
                which have reached an estimated 2 million viewers on National TV as well as social media and have
                inspired other countries with Russian-speaking families to do the same. They have also distributed these
                resources by creating a Telegram channel used to share ‘Daily Tips' with users, and have printed them to
                easily share with people who do not have access to the internet.</p><br>
              <p>
                View the videos <a style="font-size: 16px; font-weight: 500;"
                  href="https://www.youtube.com/channel/UCaqaZLiCPmuS3NCEv_WuBlA/videos">here.</a>
              </p><br>
              <p>
                See more about Kyrgyztan Without Orphans <a style="font-size: 16px; font-weight: 500;"
                  href="https://www.worldwithoutorphans.org/movements/countrymovements/people_organization/138526">here.</a>
              </p>
            </div>          
      </div>
      <hr />
      <div class="nav-card-item-content">
        <h5>Forgotten Voices Malawi | Reaching 8 million listeners throughout the country </h5>
        
            <div class="preview-text">
              <p>Featured on Blantyre Synod Radio as a permanent guest, Forgotten Voices has been spreading tips and
                parenting advice to over 8 million listeners throughout Malawi - this approach filled a direct need in
                the community to challenge norms and strengthen families and will continue to impact families even after
                Covid-19 has passed. They have also shared the tips on their social media and have been asked to train
                pastors from over 37 churches with family strengthening tools, reaching over 2000 households.</p><br>

              <p>
                See more about Forgotten Voices <a style="font-size: 16px; font-weight: 500;"
                  href="https://www.forgottenvoices.org/">here.</a>
              </p>            

        </div>
      </div>
      <hr />
      <div class="nav-card-item-content">
        <h5>Paraguay Without Orphans | Reaching 3000 families and 1,1 million people on social media</h5>
        
            <div class="preview-text">
              <p>Paraguay Without Orphans has made it possible for over 3000 families across the country to receive our
                parenting tips along with food parcels by connecting with pastors, leaders and the Ministry of Children.
                The First Lady of Paraguay has also shared our tips on social media - reaching 1,1 million people. They
                have also recognised a need for a 'positive parenting helpline' and are working towards that!</p>
            </div><br>
            <p>
              See more about Paraguay Without Orphans <a style="font-size: 16px; font-weight: 500;" href="https://www.worldwithoutorphans.org/movements/countrymovements/people_organization/141277
              ">here.</a>
            </p>          
      </div>
      <hr />
      <div class="nav-card-item-content">
        <h5>VIVA Network India | Reaching 10,000 children in 16 countries</h5>
                    <div class="preview-text">
              <p>Viva Network India has developed an innovative, accessible phone-call based family mentoring programme
                based on the "COVID-19: 24/7 Parenting" Tip Sheets created by End Violence and others. Viva will reach
                more than 10,000 children in 16 countries through this programme and has made it available online for
                other organisations to use.</p><br>
              <p>Viva welcomes wider use of these materials and can offer a range of tools to support implementation by
                your organisation. Please contact Anna Barker at <a style="font-size: 16px; font-weight: 500;"
                  href="mailto:a.barker@viva.org">a.barker@viva.org </a> for more information or find out more at their
                website<a style="font-size: 16px; font-weight: 500;"
                  href="www.childreninemergencies.org/mentoring"> here.</a></p>
            </div>          
      </div>
      <hr />
      <div class="nav-card-item-content">
        <h5>MAPA PROGRAM by PLH-Philippines | Bringing together more than 8000 participants in fun & effective ways</h5>
        
            <div class="preview-text">
              <p>Since June, numerous webinars have detailed the content of the tip sheets and provided a fun and
                effective learning environment using role-plays and practical examples. These include a special series
                of 4 sessions developed in collaboration with Philippines Department of Social Welfare (DSWD), UNICEF
                Philippines, and Philippine Red Cross, and which brought together more than 8000 participants.</p><br>
              <p>
                Watch PLH Philippines's Webinar on Positive Parenting in the Time of COVID-19 <a
                  style="font-size: 16px; font-weight: 500;"
                  href="https://m.facebook.com/AkoParaSaBataConference/videos/708040863149033/">here.</a>
              </p><br>
              <p>
                See more on PLH Philippines <a style="font-size: 16px; font-weight: 500;"
                  href="https://www.spi.ox.ac.uk/parenting-lifelong-health-philippines">here.</a>
              </p>
           
        </div>
      </div>
      <hr />
      <div class="nav-card-item-content">
        <h5>Macedonian RISE Team at the Instisute Alternativa | Sharing parenting resources in creative ways</h5>
       
            <div class="preview-text">
              <p>Macedonian RISE Team at the Instisute Alternativa have created a 6-session online parenting course
                using our parenting tips as a foundational resource for the videos they created and shared on social
                media. They have also started a telephone counselling line for parents which is available for 20 hours a
                week.</p>
              <br>
              <p>
                See their Facebook page <a style="font-size: 16px; font-weight: 500;"
                  href="https://www.facebook.com/Институт-Алтернатива-RISE-175978345765903/">here.</a>
              </p>
                   </div>
      </div>
      <hr />
      <div class="nav-card-item-content">
        <h5>MWENDO Kenya | Reaching 6064 households</h5>
        
            <div class="preview-text">
              <p>This organisation have merged our tipsheets with Viral load suppression messaging and adhere.nce support
                messaging and delivered through the M-Health platform. They have reached 6064 households via M-health
                platform.</p>            
        </div>
      </div>
      <hr />
    </div>
  </div>
  <app-sidebar class="side-bar-container"></app-sidebar>
</div>