<app-banner></app-banner>
<app-newletterribbon></app-newletterribbon>
<div class="content page-container">
  <div class="nav-cards main-container">
    <div class="nav-card-item">
      <h5 class="nav-card-item-header">NEWS</h5>

      <div class="nav-card-item news-items">
        <div class="nav-card-item-content">
          <h5>New video "Let's Slow Down"</h5>
          <img src="assets/images/place_holder_1.png" />
          <p>
            Lorem ipsum dolor sit amet, consectetu adipiscing elit, sed do
            eiusmod tempor in
          </p>
          <hr />
          <span>September 2020</span>
          <hr />
          <a>READ MORE</a>
        </div>

        <div class="nav-card-item-content">
          <h5>WHO & UNICEF Campaign</h5>
          <img src="assets/images/place_holder_1.png" />
          <p>
            Lorem ipsum dolor sit amet, consectetu adipiscing elit, sed do
            eiusmod tempor in
          </p>
          <hr />
          <span>September 2020</span>
          <hr />
          <a>READ MORE</a>
        </div>

        <div class="nav-card-item-content">
          <h5>UNICEF Lao PDR Campaign</h5>
          <img src="assets/images/place_holder_1.png" />
          <p>
            Lorem ipsum dolor sit amet, consectetu adipiscing elit, sed do
            eiusmod tempor in
          </p>
          <hr />
          <span>August 2020</span>
          <hr />
          <a>READ MORE</a>
        </div>

        <div class="nav-card-item-content">
          <h5>SABC Radios broadcast</h5>
          <img src="assets/images/place_holder_1.png" />
          <p>
            Lorem ipsum dolor sit amet, consectetu adipiscing elit, sed do
            eiusmod tempor in
          </p>
          <hr />
          <span>August 2020</span>
          <hr />
          <a>READ MORE</a>
        </div>

        <div class="nav-card-item-content">
          <h5>Latin America Conference</h5>
          <img src="assets/images/place_holder_1.png" />
          <p>
            Lorem ipsum dolor sit amet, consectetu adipiscing elit, sed do
            eiusmod tempor in
          </p>
          <hr />
          <span>July 2020</span>
          <hr />
          <a>READ MORE</a>
        </div>

        <div class="nav-card-item-content">
          <h5>ParenText in Paraguay</h5>
          <img src="assets/images/place_holder_1.png" />
          <p>
            Lorem ipsum dolor sit amet, consectetu adipiscing elit, sed do
            eiusmod tempor in
          </p>
          <hr />
          <span>July 2020</span>
          <hr />
          <a>READ MORE</a>
        </div>
      </div>
    </div>
  </div>

  <app-sidebar class="side-bar-container"></app-sidebar>
</div>
