<app-banner></app-banner>
<app-newletterribbon></app-newletterribbon>
<div class="content page-container">
  <div class="nav-cards main-container">
    <div class="nav-card-item">
      <h5 class="nav-card-item-header">NEWSLETTERS</h5>
    
        <div class="nav-card-item-content">
          <p>
            The COVID-19 Playful Parenting team's collaboration has brought together global agencies, governments, universities, NGOs, and community organisations to provide evidence-informed playful parenting resources to an unprecedented number of people in just a few months of intense work since the COVID-19 pandemic started. 
          </p>
          <br>
          <p>
            We are happy to share the following newsletters that we have designed to communicate regularly with our partners and funders and inform them of the progress of our projects across the world, as we continue to work tirelessly to create innovative approaches, respond to partner requests, and learn how the parenting resources impact the lives of children and families.
          </p>
        </div>
      
        <div class="nav-card-item-content">
          <h5>NOVEMBER 2020 Newsletter</h5>
          <p>
            Download the English version <a href="assets/resources/news/november20-English.pdf">here</a>
          </p>
          <p style="color: lightblue; font-style: italic;">
            The newsletter in Spanish will be available soon.  
          </p>
  
          <hr />
        </div>

        <div class="nav-card-item-content">
          <h5>OCTOBER 2020 Newsletter</h5>
          <p>
            Download the English version <a href="assets/resources/news/october20-English.pdf">here</a>
          </p>
          <p>
            Download the Spanish version <a href="assets/resources/news/october20-Spanish.pdf">here</a> 
          </p>
  
          <hr />
        </div>

        <div class="nav-card-item-content">
          <h5>SEPTEMBER 2020 Newsletter</h5>
          <p>
            Download the English version <a href="assets/resources/news/september20-English.pdf">here</a>
          </p>
          <p>
            Download the Spanish version <a href="assets/resources/news/september20-Spanish.pdf">here</a>   
          </p>
            <hr />
        </div>
      </div>
  </div>

  <app-sidebar class="side-bar-container"></app-sidebar>
</div>
