<div class="sidebar-container">
  <div class="nav-cards">
    <div class="nav-card-item" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
      <img src="assets/images/sidebar_img.png" />
    </div>
    <div class="nav-card-item nav-card-one" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
      <h5 class="nav-card-item-header">Watch our video "Let's Slow Down"</h5>
      <div class="nav-card-item-content">
               <div>
          <iframe
            width="100%"
            height="150px"
            src="https://www.youtube.com/embed/j1ShU5pwpaQ"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>
        </div>
        <a href="/audiovisuals">VIEW MORE</a>
      </div>
    </div>
    <div class="nav-card-item nav-card-two" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
      <h5 class="nav-card-item-header">PARENTING TIPS</h5>
      <div class="nav-card-item-content">
                <p>
          Our open-source and evidence-based parenting tip sheets are available in more than 100 languages.
        </p>
        <a href="/tips">READ MORE</a>
      </div>
    </div>
    <div class="nav-card-item nav-card-three" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="top-bottom">
      <h5 class="nav-card-item-header">IMPACT</h5>
      <div class="nav-card-item-content">
        <p>
          We have been able to reach 100+ million people across the world.
        </p>
        <a href="/impact-stories">READ MORE</a>
      </div>
    </div>
  </div>
</div>
