<div class="sidebar-container">
  <div class="nav-cards">
    <div class="nav-card-item" data-aos="zoom-in" data-aos-duration="1000">
      <img src="assets/images/icon_sidebar.png" />
    </div>
    <div class="nav-card-item nav-card-one" data-aos="zoom-in" data-aos-duration="1000">
      <h5 class="nav-card-item-header">NEWS</h5>
      <div class="nav-card-item-content">
        <h5>Listen to "Let's Slow Down!" - the official COVID19parenting song!</h5>
        <div>
          <iframe
            width="100%"
            height="150px"
            src="https://www.youtube.com/embed/j1ShU5pwpaQ"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>
        </div>

        <a>VIEW MORE</a>
      </div>
    </div>
    <div class="nav-card-item nav-card-two" data-aos="zoom-in" data-aos-duration="1000">
      <h5 class="nav-card-item-header">TELL US WHAT YOU THINK!</h5>
      <div class="nav-card-item-content">
        <h5>How do I use the tips</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor in
        </p>
        <a>READ MORE</a>
      </div>
    </div>
    <div class="nav-card-item nav-card-three" data-aos="zoom-in" data-aos-duration="1000">
      <h5 class="nav-card-item-header">IMPACT</h5>
      <div class="nav-card-item-content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor in
        </p>
        <a>READ MORE</a>
      </div>
    </div>
  </div>
</div>
