<div class="sidebar-container">
  <div><img src="assets/images/icon_sidebar.png" /></div>
  <div class="nav-cards">
    <div class="nav-card-item nav-card-one">
      <h5 class="nav-card-item-header">NEWS</h5>
      <div class="nav-card-item-content">
        <h5>Video "Let's Slow Down"</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor in
        </p>
        <a>Read more</a>
      </div>
    </div>
    <div class="nav-card-item nav-card-two">
      <h5 class="nav-card-item-header">TELL US WHAT YOU THINK!</h5>
      <div class="nav-card-item-content">
        <h5>How do I use the tips</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor in
        </p>
        <a>Read more</a>
      </div>
    </div>
    <div class="nav-card-item nav-card-three">
      <h5 class="nav-card-item-header">IMPACT</h5>
      <div class="nav-card-item-content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor in
        </p>
        <a>Read more</a>
      </div>
    </div>
  </div>
</div>
