
.nav-cards{
display: flex;
flex-direction: column;
//justify-content: space-between;
}

.nav-card-item{
    flex: 100%;
}

.nav-card-one .nav-card-item-header {
  background: #75c5ca;
}

.nav-card-two .nav-card-item-header {
    background: #fac1bc;
 }

 .nav-card-three .nav-card-item-header {
    background: #c4bcdc;
 }

