<app-banner></app-banner>
<app-newletterribbon></app-newletterribbon>
<div class="content page-container">
  <div class="main-container nav-cards">
    <div class="nav-card-item">
      <h5 class="nav-card-item-header">NEWS</h5>
      <div class="nav-card-item-content">
        <p>
          The COVID-19 Playful Parenting team's collaboration has brought
          together global agencies, governments, universities, NGOs, and
          community organisations to provide evidence-informed playful parenting
          resources to an unprecedented number of people in just a few months of
          intense work since the COVID-19 pandemic started.
        </p>
        <br>
        <p>
          We are happy to share the following news with you as we continue to
          work tirelessly to create innovative approaches, respond to partner
          requests, and learn how these resources impact the lives of children
          and families.
        </p>
      </div>

      <div class="nav-card-item-content">
        <h5>Celebrating our reach of 134 Million!</h5>
        <div class="news-container">
          <div class="news-resource">
                        <img src="assets/images/contactus_blob.png" />
          </div>
          <div class="news-text">
            <div class="preview-text">
              <p>
                Celebrating our reach of 134 Million people! 
              </p>
              <p>
                Our Partners have been incredibly supportive of the COVID-19 Parenting Emergency Response Project! By sharing our resources on Social Media, they have contributed to achieving the milestone of reaching more than 134 million people as of November 24th, 2020. The estimated reach of our partners on Facebook, usually the most performing Social Media profile, is one of the key factors in this success!
              </p>
            </div>
            <span class="more-ellipsis">...</span>
            <span class="more-link" (click)="onClickShowMoreText($event)" >show more</span  >
          </div>
        </div>
      </div>
           <hr />

           <div class="nav-card-item-content">
            <h5>Parenting during COVID-19 with UNICEF INDIA</h5>
            <div class="news-container">
              <div class="news-resource">
                <img src="assets/resources/news/india.jpg" />
              </div>
              <div class="news-text">
                <div class="preview-text">
                  <p>
                    COVID-19 has brought unprecedented challenges for families across the globe. UNICEF India has been a key
                    partner in navigating this pandemic by providing families and caregivers with accurate and reliable information on the best
                    ways to keep families safe.
                    
                  </p>
                  <p>
                    UNICEF India has translated the Parenting tip sheets into 10 languages and used them for capacity building within government systems through online training sessions, mainly focusing on Early Childhood Development (ECD) workers and caregivers. They transcripted these tips into a monthly calendar to be shared with parents along with training and
                     informative activities. The tips were then developed into short videos that have been used on the Saathealth app.  Additionally, UNICEF India shared the tips in approximately 70,000 WhatsApp groups, reaching an estimated million  parents.
                  </p>

                  <p>
                   The government has also been involved in sharing these tips on their websites and promoting them to parents, especially
                   in rural villages.
                  </p>
                  UNICEF India has also launched the project ADAPT that focuses on adolescents, and has used the tips, with others, to create short videos that encourage intergenerational dialogue. They have since held multiple webinars with healthcare workers who have requested the tip sheets to print and display in their offices/surgeries.
                  <p>
                                  </div>
                <span class="more-ellipsis">...</span>
                <span class="more-link" (click)="onClickShowMoreText($event)"
                  >show more</span
                >
              </div>
            </div>
          </div>
          <hr>

      <div class="nav-card-item-content">
        <h5>Podcast "A new age of parenting: where data matters"</h5>

        <div class="news-container">
          <div class="news-resource">
            <img src="assets/resources/news/podcast.jpg" />
          </div>
          <div class="news-text">
            <div class="preview-text">
              <p>Is it actually possible to end violence against children?</p>
              <p>
                In its new podcast series, the End Violence Partnership explores
                the answer to that question by talking to those on the
                frontlines – the experts, researchers and leaders that have
                dedicated their lives to keeping children safe.
              </p>
              <p>
                In the episode "A new age of parenting: where data matters", End
                Violence spoke with Dr Lucie Cluver, Professor of Child and
                Family Social Work at the University of Oxford and University of
                Cape Town, about evidence-based social interventions and how
                data can improve the lives of children and adolescents around
                the world. Dr. Cluver also talks about parenting as a key
                element for nurturing care and connection in children’s lives,
                especially during COVID-19, and shares useful parenting tips.
              </p>
              <p>
                This podcast is part of the Together for #EndViolence global
                campaign and Solution Summit series.
              </p>
              <p>
                Listen to the podcast:
                <a
                  href="https://www.end-violence.org/knowledge/inspiring-ways-end-violence-against-children-podcast"
                  target="_blank" >here</a
                >
              </p>
              <p>
                Learn more about ways to end violence against children:
                <a href="https://www.end-violence.org" target="_blank">here</a>
              </p>
            </div>
            <span class="more-ellipsis">...</span>
            <span class="more-link" (click)="onClickShowMoreText($event)" >show more</span>
          </div>
        </div>
      </div>

      <hr />

      <div class="nav-card-item-content">
        <h5>Micro-grants in DAC countries</h5>
        <div class="news-container">
          <div class="news-resource">
            <img src="assets/resources/news/micro-grants.png" style="width: 200px; height: 200px;" />
          </div>
          <div class="news-text">
            <div class="preview-text">
              <p>
                Our micro-grants are helping small organisations and grassroots
                projects use modest sums for major impact at local level in DAC
                countries. There is funding to do more!
              </p>
              <p>
                We can offer support for: disseminating the COVID-19 playful
                parenting resources, adapting the materials to local needs,
                incorporating them within your existing activities, monitoring
                and evaluating their impact.
              </p>
              <p>
                So far, we have given grants between US $250 - US$1,500 for
                activities including:
              </p>
              <ul>
                <li>
                  Translating, printing and distributing posters and flyers.
                </li>
                <li>Sending the parenting tips as text messages.</li>
                <li>
                  Supporting community leaders to have positive parenting
                  conversations with families.
                </li>
                <li>Buying airtime for radio broadcast of parenting tips.</li>
                <li>
                  Making a video in local dialect explaining how community
                  leaders can guide parents in applying the parenting tips.
                </li>
                <li>
                  Conducting interviews and distributing surveys for feedback on
                  the parenting tips.
                </li>
                <li>
                  To access our Application Form
                  <a
                    href="https://docs.google.com/document/d/1GkP4M7PMoRxL2V6h3d6Yq027g9Gs3LAl/edit"
                    target="_blank">here</a>
                  and send the completed file to
                  <a href="mailto:rachel@covid19parenting.com">rachel@covid19parenting.com</a>
                </li>
              </ul>
            </div>
            <span class="more-ellipsis">...</span>
            <span class="more-link" (click)="onClickShowMoreText($event)">show more</span>
          </div>
        </div>
      </div>

      <hr />

      <div class="nav-card-item-content">
        <h5>Jamaica in the Spotlight</h5>
        <div class="news-container">
          <div class="news-resource">
            <img src="assets/resources/news/lovefm.png" />
          </div>
          <div class="news-text">
            <div class="preview-text">
              <p>
                LOVE 101 FM, a local Jamaican radio channel, offered UNICEF
                Jamaica 50 spots to broadcast parenting tips to their listeners.
              </p>
              <p>
                With the help of the National Parenting Support Commission and
                Parenting Partners Caribbean, they adapted the COVID-19
                Parenting content and requested popular local actors and
                comedians to announce the tips in Jamaican Patois.
              </p>
              <p>
                Jamaican partners will shortly be converting these recordings
                into videos, which will be used for ParentText, an
                evidence-informed interactive parenting messaging system,
                launching 2021, and other social media campaigns.
              </p>
            </div>
            <span class="more-ellipsis">...</span>
            <span class="more-link" (click)="onClickShowMoreText($event)">show more</span>
          </div>
        </div>
      </div>

      <hr />

      <div class="nav-card-item-content">
        <h5>
          "Pandemic Parenting - Scenes and snippets from families navigating an
          all-consuming crisis"
        </h5>
        <div class="news-container">
          <div class="news-resource">
            <img src="assets/resources/news/nytimes.png" />
          </div>
          <div class="news-text">
            <div class="preview-text">
              <p>
                There were maternity wards that transformed  into ghost towns overnight, as visitor restrictions  tightened and grandparents-to-be canceled flights.  Schools closed, then reopened, only to close again, sending parents scrambling for child care, wrangling
                remote learners and struggling to do their own jobs.  Millions of families lost income and many lost loved  ones. For parents in particular, this year has meant  recalibrating time and again. Yet, there was also  joy — cobbled-together peaceful moments — amid  a steady thrum of chaos, which isn’t letting up. We  asked mothers and fathers across the country what  parenting has been like for them during the pandemic  and how, in their own ways, they have each learned  to cope. 
              </p>
            <p>
              See their stories <a href="https://www.nytimes.com/2020/11/12/parenting/parents-kids-coronavirus.html?action=click&module=Top%20Stories&pgtype=Homepage">here</a>
            </p>
              </div>
            <span class="more-ellipsis">...</span>
            <span class="more-link" (click)="onClickShowMoreText($event)">show more</span>
          </div>
        </div>
      </div>
      <hr />
<!--  The card thing startd here -->
<div class="nav-card-item-content">
  <h5>
    Check our Greeting Cards.
  </h5>
  <div class="news-container">
    <div class="news-resource">
      <img style="height: 280px; width: 280px;" src="assets/resources/news/Holiday-Greetings-cards.jpg" />
    </div>
    <div class="news-text">
      <div class="preview-text">
        <p>
          Let's stay connected despite physical distancing! Share our greeting cards with the people you care about - and let them know that we are together forever, never apart, sometimes in distance but always close to heart! 
        </p>
        <br>
      <p>
        Our cards are available in JPG, GIF and video formats and in several languages, for printing and sharing on social media, by email and via text messages.
      </p>
        </div>   
        <p>
          Download the greetings cards here in:
        </p>  
        <p>
          <span class="more-link"><a href="https://drive.google.com/drive/folders/1fF8rR6PMeWjzTsoIpDPvoHYg32HXMHLj?usp=sharing" target="_blank">English</a> | <a href="https://drive.google.com/drive/folders/1QGfCOddMaZyRFaS2L-vRi_EjnMdPSQ9c?usp=sharing" target="_blank">Chinese</a> | <a href="https://drive.google.com/drive/folders/1cP1xfbmBeLQ-zsUAlBg2hmOozCpfHXmj?usp=sharing" target="_blank">French</a> | <a href="https://drive.google.com/drive/folders/152y813PCNvJTdFyUzigdjHJWsnztP35c?usp=sharing" target="_blank">Spanish </a> | <a href="https://drive.google.com/drive/folders/1lcT5srn4J6CQsJDQTZfj6mowT6E5lSxr?usp=sharing" target="_blank">Portuguese</a></span>     
        </p>       
      </div>      
  </div>
</div>
<hr />

<!-- it end here-->


    </div>
  </div>

  <app-sidebar class="side-bar-container"></app-sidebar>
</div>
