<app-banner></app-banner>
<app-newletterribbon></app-newletterribbon>
<div class="content page-container">
  <div class="main-container nav-cards">
    <div class="nav-card-item">
      <h5 class="nav-card-item-header">NEWS</h5>
      <div class="nav-card-item-content">
        <p>
          The COVID-19 Playful Parenting team's collaboration has brought
          together global agencies, governments, universities, NGOs, and
          community organisations to provide evidence-informed playful parenting
          resources to an unprecedented number of people in just a few months of
          intense work since the COVID-19 pandemic started.
        </p>
        <p>
          We are happy to share the following news with you as we continue to
          work tirelessly to create innovative approaches, respond to partner
          requests, and learn how these resources impact the lives of children
          and families.
        </p>
      </div>

      <div class="nav-card-item-content">
        <h5>Celebrating our reach of 134 Million!</h5>
        <div class="news-container">
          <div class="news-resource">
            <img src="assets/resources/news/1_news.png" />
          </div>
          <div class="news-text">
            <div class="preview-text">
              <p>
                Celebrating our reach of 134 Million people! Our Partners have
                been incredibly supportive of the COVID-19 Parenting Emergency
                Response Project! By sharing our resources on Social Media, they
                have contributed to achieving the milestone of reaching more
                than 134 million people as of November 24th, 2020. The estimated
                reach of our partners on Facebook, usually the most performing
                Social Media profile, is one of the key factors in this success!
                The latest reach by Dissemination Method are: WEBSITE / EMAIL /
                SOCIAL MEDIA / TEXTS / PRINT MEDIA / RADIO / VIDEO / WEBINAR /
                OTHER
              </p>
            </div>
            <span class="more-ellipsis">...</span>
            <span class="more-link" (click)="onClickShowMoreText($event)"
              >show more</span
            >
          </div>
        </div>
      </div>

      <hr />

      <div class="nav-card-item-content">
        <h5>Podcast "A new age of parenting: where data matters"</h5>

        <div class="news-container">
          <div class="news-resource">
            <img src="assets/resources/news/1_news.png" />
          </div>
          <div class="news-text">
            <div class="preview-text">
              <p>Is it actually possible to end violence against children?</p>
              <p>
                In its new podcast series, the End Violence Partnership explores
                the answer to that question by talking to those on the
                frontlines – the experts, researchers and leaders that have
                dedicated their lives to keeping children safe.
              </p>
              <p>
                In the episode "A new age of parenting: where data matters", End
                Violence spoke with Dr Lucie Cluver, Professor of Child and
                Family Social Work at the University of Oxford and University of
                Cape Town, about evidence-based social interventions and how
                data can improve the lives of children and adolescents around
                the world. Dr. Cluver also talks about parenting as a key
                element for nurturing care and connection in children’s lives,
                especially during COVID-19, and shares useful parenting tips.
              </p>
              <p>
                This podcast is part of the Together for #EndViolence global
                campaign and Solution Summit series.
              </p>
              <p>
                Listen to the podcast:
                <a
                  href="https://www.end-violence.org/knowledge/inspiring-ways-end-violence-against-children-podcast"
                  target="_blank" >here</a
                >
              </p>
              <p>
                Learn more about ways to end violence against children:
                <a href="https://www.end-violence.org" target="_blank">here</a>
              </p>
            </div>
            <span class="more-ellipsis">...</span>
            <span class="more-link" (click)="onClickShowMoreText($event)" >show more</span>
          </div>
        </div>
      </div>

      <hr />

      <div class="nav-card-item-content">
        <h5>Micro-grants in DAC countries</h5>
        <div class="news-container">
          <div class="news-resource">
            <img src="assets/resources/news/1_news.png" />
          </div>
          <div class="news-text">
            <div class="preview-text">
              <p>
                Our micro-grants are helping small organisations and grassroots
                projects use modest sums for major impact at local level in DAC
                countries. There is funding to do more!
              </p>
              <p>
                We can offer support for: disseminating the COVID-19 playful
                parenting resources, adapting the materials to local needs,
                incorporating them within your existing activities, monitoring
                and evaluating their impact.
              </p>
              <p>
                So far, we have given grants between US $250 - US$1,500 for
                activities including:
              </p>
              <ul>
                <li>
                  Translating, printing and distributing posters and flyers.
                </li>
                <li>Sending the parenting tips as text messages.</li>
                <li>
                  Supporting community leaders to have positive parenting
                  conversations with families.
                </li>
                <li>Buying airtime for radio broadcast of parenting tips.</li>
                <li>
                  Making a video in local dialect explaining how community
                  leaders can guide parents in applying the parenting tips.
                </li>
                <li>
                  Conducting interviews and distributing surveys for feedback on
                  the parenting tips.
                </li>
                <li>
                  To access our Application Form
                  <a
                    href="https://docs.google.com/document/d/1GkP4M7PMoRxL2V6h3d6Yq027g9Gs3LAl/edit"
                    target="_blank">here</a>
                  and send the completed file to
                  <a href="mailto:rachel@covid19parenting.com">rachel@covid19parenting.com</a>
                </li>
              </ul>
            </div>
            <span class="more-ellipsis">...</span>
            <span class="more-link" (click)="onClickShowMoreText($event)">show more</span>
          </div>
        </div>
      </div>

      <hr />

      <div class="nav-card-item-content">
        <h5>Jamaica in the Spotlight</h5>
        <div class="news-container">
          <div class="news-resource">
            <img src="assets/resources/news/1_news.png" />
          </div>
          <div class="news-text">
            <div class="preview-text">
              <p>
                LOVE 101 FM, a local Jamaican radio channel, offered UNICEF
                Jamaica 50 spots to broadcast parenting tips to their listeners.
              </p>
              <p>
                With the help of the National Parenting Support Commission and
                Parenting Partners Caribbean, they adapted the COVID-19
                Parenting content and requested popular local actors and
                comedians to announce the tips in Jamaican Patois.
              </p>
              <p>
                Jamaican partners will shortly be converting these recordings
                into videos, which will be used for ParentText, an
                evidence-informed interactive parenting messaging system,
                launching 2021, and other social media campaigns.
              </p>
            </div>
            <span class="more-ellipsis">...</span>
            <span class="more-link" (click)="onClickShowMoreText($event)">show more</span>
          </div>
        </div>
      </div>

      <hr />

      <div class="nav-card-item-content">
        <h5>
          "Pandemic Parenting - Scenes and snippets from families navigating an
          all-consuming crisis"
        </h5>
        <div class="news-container">
          <div class="news-resource">
            <img src="assets/resources/news/1_news.png" />
          </div>
          <div class="news-text">
            <div class="preview-text">
              <p>
                There were maternity wards that transformed into ghost towns
                overnight, as visitor restrictions tightened and
                grandparents-to-be canceled flights. Schools closed, then
                reopened, only to close again, sending parents scrambling for
                child care, wrangling remote learners and struggling to do their
                own jobs. Millions of families lost income and many lost loved
                ones. For parents in particular, this year has meant
                recalibrating time and again. Yet, there was also joy -
                cobbled-together peaceful moments - amid a steady thrum of
                chaos, which isn't letting up. We asked mothers and fathers
                across the country what parenting has been like for them during
                the pandemic and how, in their own ways, they have each learned
                to cope. Their stories are below.
              </p>
            </div>
            <span class="more-ellipsis">...</span>
            <span class="more-link" (click)="onClickShowMoreText($event)">show more</span>
          </div>
        </div>
      </div>
      <hr />
    </div>
  </div>

  <app-sidebar class="side-bar-container"></app-sidebar>
</div>
