<div class="content"> 
<h2> Please click the following buttons to get the tips for caseworkers</h2>

<div>
    <a href="assets/caseworkers/caseworkers_English.pdf"><button class= "buttons"> <a href="assets/caseworkers/caseworkers_English.pdf" class="button-text">Tips for caseworkers in English</a></button></a>
    <a href="assets/caseworkers/caseworkers_Spanish.pdf"><button class= "buttons"> <a href="assets/caseworkers/caseworkers_Spanish.pdf" class="button-text">Tips  for caseworkers in Spanish</a></button></a>
    <a href="assets/caseworkers/caseworkers_French.pdf"><button class= "buttons"> <a href="assets/caseworkers/caseworkers_French.pdf" class="button-text">Tips for caseworkers in French</a></button></a>
</div>
</div>


