<app-banner></app-banner>
<app-newletterribbon></app-newletterribbon>
<div class="content page-container">
    <div class="main-container nav-cards">
        <div class="nav-card-item">
            <h5 class="nav-card-item-header">TIPS FOR CASEWORKERS</h5>
            <div class="nav-card-item-content">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor in
                </p>
              </div>
              <div class="nav-card-item-content">
                <a href="assets/caseworkers/caseworkers_English.pdf">Tips for caseworkers in English</a>
                <hr/>
                <a href="assets/caseworkers/caseworkers_Spanish.pdf">Tips for caseworkers in Spanish</a>
                <hr/>
                <a href="assets/caseworkers/caseworkers_French.pdf">Tips for caseworkers in French</a>
                <hr/>
                <a href="assets/caseworkers/caseworkers_Russian.pdf">Tips for caseworkers in Russian</a>
                <hr/>
                <a href="assets/caseworkers/caseworkers_Portuguese.pdf">Tips for caseworkers in Portuguese</a>
                <hr/>
                <a href="assets/caseworkers/caseworkers_Turkish.pdf">Tips for caseworkers in Turkish</a>
                <hr/>
                <a href="assets/caseworkers/caseworkers_Bikol.pdf">Tips for caseworkers in Bikol</a>
                <hr/>
                <a href="assets/caseworkers/caseworkers_Chinese.pdf">Tips for caseworkers in Chinese</a>
                <hr/>
                <a href="assets/caseworkers/caseworkers_Bisaya.pdf">Tips for caseworkers in Bisaya</a>
                <hr/>
                <a href="assets/caseworkers/caseworkers_Ilokano.pdf">Tips for caseworkers in Ilokano</a>
                <hr/>
              </div>

            
        </div>
    </div>

    <app-sidebar class="side-bar-container"></app-sidebar>
</div>


 