<div class="content"> 
<h2>Tips for Caseworkers</h2>
<div>
    <a href="assets/caseworkers/caseworkers_English.pdf"><button class= "buttons"> <a href="assets/caseworkers/caseworkers_English.pdf" class="button-text">Tips for caseworkers in English</a></button></a>
    <a href="assets/caseworkers/caseworkers_Spanish.pdf"><button class= "buttons"> <a href="assets/caseworkers/caseworkers_Spanish.pdf" class="button-text">Tips  for caseworkers in Spanish</a></button></a>
    <a href="assets/caseworkers/caseworkers_French.pdf"><button class= "buttons"> <a href="assets/caseworkers/caseworkers_French.pdf" class="button-text">Tips for caseworkers in French</a></button></a>
    <a href="assets/caseworkers/caseworkers_Russian.pdf"><button class= "buttons"> <a href="assets/caseworkers/caseworkers_Russian.pdf" class="button-text">Tips for caseworkers in Russian</a></button></a>
   <a href="assets/caseworkers/caseworkers_Portuguese.pdf"><button class= "buttons"> <a href="assets/caseworkers/caseworkers_Portuguese.pdf" class="button-text">Tips for caseworkers in Portuguese</a></button></a>
   <a href="assets/caseworkers/caseworkers_Turkish.pdf"><button class= "buttons"> <a href="assets/caseworkers/caseworkers_Turkish.pdf" class="button-text">Tips for caseworkers in Turkish</a></button></a>
   <a href="assets/caseworkers/caseworkers_Bikol.pdf"><button class= "buttons"> <a href="assets/caseworkers/caseworkers_Bikol.pdf" class="button-text">Tips for caseworkers in Bikol</a></button></a>
    <a href="assets/caseworkers/caseworkers_Chinese.pdf"><button class= "buttons"> <a href="assets/caseworkers/caseworkers_Chinese.pdf" class="button-text">Tips for caseworkers in Chinese</a></button></a>
    <a href="assets/caseworkers/caseworkers_Bisaya.pdf"><button class= "buttons"> <a href="assets/caseworkers/caseworkers_Bisaya.pdf" class="button-text">Tips for caseworkers in Bisaya(Cebuano)</a></button></a>
    <a href="assets/caseworkers/caseworkers_Ilokano.pdf"><button class= "buttons"> <a href="assets/caseworkers/caseworkers_Ilokano.pdf" class="button-text">Tips for caseworkers in Ilokano</a></button></a>
</div>
</div>


 