
 .nav-card-item-header {
    background: #75c5ca;
  }
  
 .nav-card-item-content h5 {
    color: #75c5ca;
  }
  
 .nav-card-item-content a {
    color: #75c5ca;
    font-weight: 500;
    font-size: medium;
    font-size: 16px;
  }
  
 .nav-card-item-content hr {
    border-color: #75c5ca; 
    margin-bottom: 20px;
  }
  

 