<app-banner></app-banner>
<app-newletterribbon></app-newletterribbon>
<div class="content page-container">
    <div class="nav-cards main-container">
        <div class="nav-card-item">
            <h5 class="nav-card-item-header">PARENTING TIPS</h5>
            <div class="nav-card-item-content">
              <p>Proven parenting tips and activities for all ages in worldwide languages</p>
              <p><i>If you cant find a tipsheet in your language, <a routerLink="/contactus">please Send us a message!</a></i></p>
              <app-tip-sheets [currentLanguage]="tipSheetLang"></app-tip-sheets>
              <p>Please note that these translations were not created by the World Health Organization (WHO), and WHO is not responsible for the content or accuracy of these translations.</p>
            </div>
        </div>

    </div>
    <app-sidebar class="side-bar-container"></app-sidebar>
</div>

<!-- <h2>Radio Scripts</h2>
<a id="radio"></a>
<p>The radio scripts will go here</p>-->

 