<h1>Tips in English</h1>
<div ngbDropdown class="d-inline-block">
    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{currentLanguage.name}}</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button *ngFor="let language of allLanguages" ngbDropdownItem (click)="changeLanguage(language)">{{language.name}}</button>
    </div>
</div>
<div class="tip-sheet-container">
    <a *ngFor="let tipSheet of tipSheets" class="tip-sheet" [href]="tipSheet.pdfSrc">
        <div class="tip-sheet-title">{{tipSheet.title}}</div>
        <div class="tipsheet-thumbnail">
            <img class="thumbnail-img" src="{{tipSheet.thumnailSrc}}">
        </div>
        
    </a>
</div>