.tips-container {
  background: #f2f2f2;
}

.main-header-one {
  font-weight: 300;
}

.main-header-two {
  font-weight: 700;
}

.main-header-three {
  font-weight: 400;
  color: #ed1651;
}

.tips-info {
  font-weight: 300;
}

.home-footer-background {
  background: #0a4160;
}

@media only screen and (max-width: 768px) {
  .tips-container {
   margin-top: 30px;
  }
}
