<div class="{{ 'social-media-icons ' + placement}}">
    <a class="facebook-icon" href="https://www.facebook.com/Covid19parenting">
        <img alt="Facebook Logo" src="assets/images/fb_icon.svg" />
    </a>
    <a class="youtube-icon" href="https://www.youtube.com/channel/UCvSZLNTjb2E3Pexa5ZwL3nA">
        <img alt="Youtube Logo" src="assets/images/youtube_icon.svg" />
    </a>
    <a class="twitter-icon" href="https://twitter.com/ParentingC19">
        <img alt="Twitter Logo" src="assets/images/twitter_icon.svg" />
    </a>
    <a class="instagram-icon" href=" https://www.instagram.com/covid19parenting/">
        <img alt="Instagram Logo" src="assets/images/instagram_icon.svg" />
    </a>
</div>