.social-media-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;

    a {
        margin-left: 20px;

        img {
            width: 30px;
        }
    }
}

@media only screen and (max-width: 1120px) {
    .social-media-icons.toolbar {
        a:nth-child(3),
        a:nth-child(4) {
            display: none;
        }
    }
}

@media only screen and (max-width: 950px) {
    .social-media-icons.toolbar {
        display: none;
    }
  }