<div class="social-media-icons">
    <a class="facebook-icon" href="https://www.facebook.com/Covid19parenting">
        <img alt="Facebook Logo" src="assets/images/facebook.png" />
    </a>
    <a class="youtube-icon" href="https://www.youtube.com/channel/UCvSZLNTjb2E3Pexa5ZwL3nA">
        <img alt="Youtube Logo" src="assets/images/youtube.png" />
    </a>
    <a class="twitter-icon" href="https://twitter.com/ParentingC19">
        <img alt="Twitter Logo" src="assets/images/twitter.png" />
    </a>
    <a class="instagram-icon" href=" https://www.instagram.com/covid19parenting/">
        <img alt="Instagram Logo" src="assets/images/instagram.png" />
    </a> 
    <a class="instagram-icon" href="http://weixin.qq.com/r/hBOmvn-ELiJRrTvd90aW">
        <img alt="Instagram Logo" src="assets/images/wechat.png" />
    </a> 
</div>