<app-banner></app-banner>
<app-newletterribbon></app-newletterribbon>
<div class="content page-container">
    <div class="nav-cards main-container">
        <div class="nav-card-item">
            <h5 class="nav-card-item-header">DIGITAL PARENTING TIPS</h5>
            <div class="nav-card-item-content">
                <div class="nav-card-item-content">
                    <p>
                        Our Digital Parenting resources are tools that have been conceived and designed to reach parents through digital formats such as online and/or mobile applications, texting and chat services.
                    </p>
                </div>
                <div class="nav-card-item-content">
                    <h5>ParentChat</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor in</p>
                    <a href="/">SiGN UP HERE</a>
                    <hr/>
                </div>
                <div class="nav-card-item-content">
                    <h5>ParentText</h5>
                    <h5>What is ParentText</h5>
                    <p>COVID-19 ParentText is an interactive Parenting Text Messages that provides evidence-informed digital parenting support to parents and caregivers with the aim of reducing the risk of child maltreatment and improve child wellbeing.
                    </p>

                    <h5>What needs does ParentText address:</h5>
                    <p>With many countries still experiencing spikes in COVID-19 cases, rising unemployment and unknown long-term social and economic plans, the surge in child abuse looms even larger. Parents play a critical role in ending violence against children. They have the power as both perpetrators and as protectors. Unfortunately, parents rarely get the support they need to lead the struggle against violence. 
                    </p>
                    <p>To mitigate risks in this challenging new global environment, it is essential to redouble our efforts to protect children and provide parents and caregivers with the support they need.  
                    </p>
                    <p>And to ensure this support is available to those in need, to complement human interventions, we also thrive on digital resources that can be continuously available at fingertips regardless of social distancing measures.
                    </p>

                    <h5>How does ParentText work:</h5>
                    <p>ParentText delivers Interactive Parenting Text Messages via RapidPro, a free, open source software that allows users to easily build and scale mobile-based applications from anywhere in the world. The RapidPro software can be hosted as a service on servers locally and can be run through any platforms Eg: WhatsApp, Viber, Telegram, FB messengers even simple text messaging!</p>
                    <p>
                        ParentText includes the following features:
                    </p>
                        <ul>
                            <li>Scheduled interactive text-messages are delivered to basic phones and smartphones</li>
                            <li>Users receive daily parenting tips over 5 weeks</li>
                            <li>The content is designed for different age groups cf. infants (0-23 months), toddlers (20-60 months), young children  (2-9 years) and teens (10 to 17 years)</li>
                            <li>The text-messages are available on-demand, and users can customize the content they wish to receive by area of interest (e.g., child behaviour, stress, services)</li>
                            <li>Users receive friendly reminders for practicing skills and reducing stress</li>
                            <li>Weekly assessments are available to help users understand what they know and can do with their knowledge as a result of their educational experience with ParentText</li>
                        </ul>
                   
                                        <hr/>
                </div>
                <div class="nav-card-item-content">
                    <h5>ParentApp</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor in</p>
                    <hr/>
                </div>
            </div>
        </div>
    </div>
    <app-sidebar class="side-bar-container"></app-sidebar>
</div>