.nav-card-item{
    flex: 100%;
  }
  .nav-card-item .nav-card-item-header {
    background: #5dbcd2;
  }
  
  .nav-card-item .nav-card-item-content h5 {
    color: #5dbcd2;
  } 
  
  .nav-card-item hr {
    border-color: #5dbcd2;
  }
  
  .nav-card-item-content a {
    color: #5dbcd2;
    font-weight: 500; 
    font-size: medium;

  }

  
  .preview-text {
    height: 100px;
    overflow: hidden;
  }
  
  .more-link {
    display: block;
    color: #75c5ca;
    font-weight: 500;
    font-size: medium;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .more-link:hover {
    color: #75c5ca;
    text-decoration: underline;
  }
  
  