<app-banner></app-banner>
<app-newletterribbon></app-newletterribbon>
<div class="content page-container">
    <div class="nav-cards main-container">
        <div class="nav-card-item">
            <h5 class="nav-card-item-header">DIGITAL PARENTING TIPS</h5>
            <div class="nav-card-item-content">
                <div class="nav-card-item-content">
                    <p>
                        Our Digital Parenting resources are tools that have been conceived and designed to reach parents
                        through digital formats such as online and/or mobile applications, texting and chat services.
                    </p>
                </div>
                <div class="nav-card-item-content">
                    <h5>ParentChat</h5>
                    <div class="preview-text">
                        <p>
                            Due to the impact of COVID-19, it is more challenging for in-person parenting programmes to
                            reach families in need. ParentChat is a newly developed online version of the Parenting for
                            Lifelong Health programmes for young children and adolescents, which will be delivered
                            through
                            online messaging services such as WhatsApp or Viber. The programme aims to improve
                            parent-child
                            relationships and child well-being, reduce child maltreatment and to increase the
                            availability
                            of parenting programmes for vulnerable families.
                        </p>
                        <p>
                            The programme will run for 8 weeks and is available for parents who have children between
                            the ages of 2 to 17. Each week of the programme includes 2 chat sessions, each lasting one
                            hour, with a trained facilitator who will guide parents through evidence-based parenting
                            tips and activities. In these chat sessions, facilitators will discuss ways to strengthen
                            the parent-child relationship through group conversation, activities and storytelling,
                            covering themes including:
                        </p>
                        <ol>
                            <li>Relationship building through one-on-one time with your children (e.g., quality time,
                                talking about emotions, taking a pause)</li>
                            <li>Positive reinforcement of positive behaviour (e.g., praise, giving clear and positive
                                instructions, establishing routines and rules)</li>
                            <li>Coping with difficulties (e.g., positive discipline, managing difficult child behaviour,
                                handling crises)</li>
                        </ol>

                        <p>
                            Additional content will be provided for children with disabilities.
                        </p>
                        <p>
                            Parents will be encouraged to give regular feedback regarding successes and challenges
                            applying these parenting skills in the online group chat. The facilitator will then provide
                            a brief summary of the feedback and address possible solutions to 2-3 key challenges.
                            Throughout the week the facilitator will also provide interactive learning experiences
                            through helpful tips, fun activities, and reminders, to help parents develop and apply the
                            skills they have learnt across the entire programme.
                        </p>
                        <p>
                            ParentChat is currently being prepared for delivery in six countries; Malaysia, Moldova,
                            Montenegro, North Macedonia, Philippines, and South Africa.
                        </p>
                        <h6> Reach</h6>
                        <p>
                            A pilot study of the programme will test the initial feasibility and impact of ParentChat
                            with 900 families in 2021 before wider release.
                        </p>
                        <h6> Partnerships with countries:

                        </h6>

                        <p>
                            ParentChat has been developed in collaboration with the following research partners.
                        </p>

                        <br>
                        <p>
                            For more information on ParentChat click <a
                                href="https://spi.web.ox.ac.uk/covid-19-e-parenting-for-lifelong-health-eplh-pilot-study-promoting-positive-parenting-and-preventin">here</a>
                        </p>

                        <ul>
                            <li>Universiti Putra Malaysia (Malaysia) </li>
                            <li>Health for Youth Association (Moldova) </li>
                            <li>UNICEF Montenegro (Montenegro) </li>
                            <li>Alternativa (North Macedonia) </li>
                            <li>Ateneo de Manila University (Philippines) </li>
                            <li>University of Cape Town (South Africa) </li>
                            <li>University of Oxford (United Kingdom)</li>
                        </ul>

                        <p>
                            The programme will be delivered in collaboration with local government and non-governmental
                            organisations. The University of Cape Town will be partnering with Clowns without Borders,
                            the Department of Social Development and Mothers2Mothers for delivery in South Africa.
                            Researchers at Ateneo de Manila University are planning dissemination with the Department of
                            Social Welfare and Development in the Philippines. ParentChat will be delivered by The
                            National Population and Family Development Board at the Ministry of Women, Family, and
                            Community Development in Malaysia, with support from Universiti Putra Malaysia. The
                            remaining partners; Alternativa in North Macedonia, Health for Youth Association in Moldova
                            and UNICEF in Montenegro, will each deliver ParentChat in their respective country.
                        </p>

                        <p>
                            Pilot testing of ParentChat is funded by the UKRI GCRF/Newton Fund, the LEGO Foundation, the
                            philanthropic donors to the University of Oxford’s COVID-19 Research Response Fund, the Oak
                            Foundation, The Human Safety Net, UNICEF Philippines and UNICEF Malaysia and the UKRI GCRF
                            Accelerating Achievement for Africa’s Adolescents (Accelerate) Hub.
                        </p>
                    </div>
                    <span class="more-ellipsis">...</span>
                    <span class="more-link" (click)="onClickShowMoreText($event)">show more</span>
                </div>
                <hr />
                <div class="nav-card-item-content">
                    <h5>ParentText</h5>
                    <div class="preview-text">
                        <p>
                            ParentText is an automated text messaging service for parents of children aged 0 to 17. It
                            is
                            delivered using RapidPro, an open-source application serving low-income communities without
                            smartphone access, and also through text messaging platforms such as Telegram, WhatsApp, and
                            Facebook messenger. Text message and free social media messaging services have the potential
                            reach to an estimated 70% of the world population, including those with basic handsets.
                            Parents
                            are recruited through social media, implementing partners, government agencies, schools,
                            clinics, grocery stores, and radio and T.V. broadcasts. The application supports multiple
                            languages, including English and local languages.
                        </p>

                        <h5>Recruitment of parents</h5>
                        <p>
                            In order to maximise engagement, enrolment is possible via multiple processes either by
                            following a QR code, clicking on a weblink, or sending a message to a prespecified number.
                            Once
                            they have enrolled, parents with even basic feature phones are able to select the data usage
                            package they wish to receive with free messages that can include both texts as well as
                            images,
                            GIFs, animations, and videos.
                        </p>
                        <br>
                        <p>
                            Parents are also able to choose from basic, medium and high data use options. Parents
                            without
                            data packages may even receive text messages via SMS where available, especially if there
                            are
                            existing agreements between service providers and telecommunication companies for zero-rated
                            messages.
                        </p>
                        <br>

                        <h5>Content based on stages of child development</h5>
                        <p>
                            ParentText targets parents with children aged 0 to 17 and contains specific content based on
                            development stages for parents of children aged 0-23 months, 2-9 years, 10-17 years.
                        </p>
                        <p>
                            Messages are delivered to parents over an average of 5 weeks depending on the frequency
                            selected
                            by parents. The content of the ParentText message delivery system is derived from the PLH
                            evidence-based parenting programmesthat have been rigorously tested in Asia. The messages
                            are
                            grouped into three main themes: 1) Relationship building by spending time together, 2)
                            Positive
                            reinforcement (i.e., praise, daily routines, and child behaviour management), and 3) Stress
                            reduction for parents and caregivers. Additional content is available including specific
                            support
                            for parents of children living with disabilities, child development, online child safety,
                            talking about COVID19 with children, family budgeting, family harmony, helping with
                            schoolwork,
                            and sexual violence prevention.
                        </p>
                        <br>

                        <h5>User experience</h5>
                        <p>Parents experience the text message delivery system in three ways: </p>
                        <ol type="1">
                            <li>Scheduled text messages,</li>
                            <li>On-demand content and</li>
                            <li>Weekly assessments.</li>
                        </ol>

                        <p>
                            Scheduled text messages include daily activities tailored by child age (e.g., “Spend 20
                            minutes
                            of One-on-One Time each day with your children – tell them a story from your own childhood),
                            reminders, (‘Remember - 20 minutes of One-on-One Time with your child will increase their
                            brain
                            development’) and responses (‘You did it! Well done - you are a star!’).
                        </p>
                        <br>
                        <p>
                            On-demand content allows for user-directed engagement in which parents and caregivers
                            self-select content that is most relevant to their context and developmental stage of their
                            children, as well as two- way interaction and feedback.
                        </p>
                        <br>
                        <p>
                            Weekly assessments examines the impact of the messages on parenting, parental stress, and
                            child
                            behaviour by collecting fully anonymised data (opt-in) at registration and weekly intervals.
                        </p>
                        <br>
                        <p>
                            The ParentText message delivery system also has the capability to help parents solve
                            challenges
                            with their children based on typical challenges faced by parents in similar situations, and
                            information parents provide about their own circumstance. Much like a chatbot you may have
                            interacted with through your banking system or when booking an airline ticket (although more
                            empathic and engaging!), the system offers conversation-like tips in response to parents’
                            requests. Lastly, the text messages provide opportunities for referrals to local resources
                            (e.g., domestic abuse and mental health hotlines, health clinics, and child protection
                            services).
                        </p>
                        <br>

                        <h5>Safeguarding of Messages</h5>
                        <p>
                            Users of automated services often try to get other forms of help by messaging the chatbot
                            and
                            disclosing personal situations in the free text fields. These users might include women and
                            children at risk and survivors of violence, whose numbers are increasing during the COVID-19
                            pandemic. Users at risk of violence who attempt to disclose their situation or ask for help
                            often receive no acknowledgement or support from typical chatbot services. Based on UNICEF
                            chatbot safeguarding guidelines, ParentText is designed to recognise high risk keywords to
                            detect possible disclosure of a dangerous situation in free text fields. After detection,
                            the
                            chatbot is automated to offer the user an empathetic and empowering response and contact
                            details
                            on where to access professional or urgent help (e.g. police, ambulance, hotline).
                        </p>
                        <br>                        
                    </div>
                    <span class="more-ellipsis">...</span>
                    <span class="more-link" (click)="onClickShowMoreText($event)">show more</span>
                    <p>
                        For more information on ParentText, check one of our Concept Documents <a
                            href="assets/resources/digitalparenting/Parentext-Concept.pdf">here. </a>
                    </p>
                </div>

                <hr />
                <div class="nav-card-item-content">
                    <h5>ParentApp</h5>
                    <p style="color:blue; font-style: italic;">
                        ParentApp will be available soon.
                    </p>
                    <hr />
                </div>
            </div>
        </div>
    </div>
    <app-sidebar class="side-bar-container"></app-sidebar>
</div>