<div class="contact-container">
  <!--before curve-->
  <!--svg class="contact-curve-top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 280"><path fill="#ffffff" fill-opacity="1" d="M0,160L48,176C96,192,192,224,288,240C384,256,480,256,576,234.7C672,213,768,171,864,149.3C960,128,1056,128,1152,149.3C1248,171,1344,213,1392,234.7L1440,256L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path></svg>-->

  <div class="content contact-content">
     <p><a class="survey-button" href="https://oxford.onlinesurveys.ac.uk/covid-19-website-playful-parenting-survey-copy">Take Our M&E Survey</a></p>
      <p>Please take 2 minutes to tell us what it was like to use these tips. </p>
              
    <p> <a class="survey-button" href="https://docs.google.com/forms/d/e/1FAIpQLSdD_CvlaCu9kUYe9-VsvqEDcQyXffUhqszp_VZwSFTYQrgztQ/viewform">
        Share your story</a>NGO worker? Helped to share our parenting tips? You are a STAR!</p>
    <br/>
    <p><a class="survey-button" href="https://usf.az1.qualtrics.com/jfe/form/SV_a2IGtTqLmZdCrDn">Teens App Survey</a>Parenting a teen? Liked our COVID-19 parenting tips?
      Help us to develop a free parenting app by answering the survey below</p>
 <br/>
 <p><a class="email-button"
      href="mailto:COVID19parenting@gmail.com">
      Email us at COVID19parenting&#64;gmail.com</a> If you'd like to help translate out tip sheets into your language, or have anything you’d like to say, please
        send us a message</p>  
 
        </div>


  <!--after curve-->
  <svg class="contact-curve-bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 280">
    <path fill="#ec1551" fill-opacity="1"
      d="M0,160L48,176C96,192,192,224,288,240C384,256,480,256,576,234.7C672,213,768,171,864,149.3C960,128,1056,128,1152,149.3C1248,171,1344,213,1392,234.7L1440,256L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
    </path>
  </svg>

</div>
<!-- footer-->
<div class="home-footer-background">
  <app-footer></app-footer>
</div>
<!--/footer-->