<app-banner></app-banner>
<app-newletterribbon></app-newletterribbon>
<div class="content page-container">
  <div class="main-container nav-cards">
    <div class="nav-card-item">
      <h5 class="nav-card-item-header">TELL US WHAT YOU THINK</h5>
      <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000"
        data-aos-anchor-placement="top-bottom">
        <p>
          As we continue to work tirelessly to create innovative approaches, respond to partner requests, and learn how
          these resources impact the lives of children and families, your inputs will help us understand how we can
          better support families in the future.
        </p><br>
        <hr>
        <br>
        <a id="parents-survey" class="anchor"></a>
        <h5>Take our Parents Survey</h5>
        <p>
          We would love to know more about your experience as a parent during COVID-19. Please take 2 minutes to
          complete this survey and share your story - your participation and any information you provide will be used
          anonymously by researchers so that we learn about how to better support families like yours.
        </p>
        <br>
        <p>
          These questions are important, and your answers will help us learn if the parenting tips are helping parents
          spend more time with their children, manage parental stress, and discipline children through encouraging good
          behaviour.
        </p>
        <br>
        <a href="https://oxford.onlinesurveys.ac.uk/covid-19-website-playful-parenting-survey-copy"
          target="_blank"><button style="
          width: 50%; 
          min-height: 40px;  
           border-style: none;
          border-radius: 30px;"> <a
              href="https://oxford.onlinesurveys.ac.uk/covid-19-website-playful-parenting-survey-copy"
              target="_blank">Take our Parents Survey</a></button>
        </a>
      </div>
      <hr />
      <a id="champions-of-children-survey" class="anchor"></a>
      <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000"
        data-aos-anchor-placement="top-bottom">
        <h5>Take our Champions of Children Survey</h5>
        <p>
          You are an NGO worker, and you have helped to share our parenting tips? You are a STAR!
        </p><br>
        <p>
          The purpose of this short questionnaire is to learn about the amazing and innovative ways you and others from
          around the world have been sharing the COVID-19 parenting resources. We would love to hear from you!
        </p><br>
        <p>
          Please take 2 minutes to complete this questionnaire and share your story - your answers will help us
          understand how we can better support your work and families in the future.
        </p><br>
        <p>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSdD_CvlaCu9kUYe9-VsvqEDcQyXffUhqszp_VZwSFTYQrgztQ/viewform"
            target="_blank"><button style="
            width: 50%; 
            min-height: 40px;  
             border-style: none;
            border-radius: 30px;"> <a
                href="https://docs.google.com/forms/d/e/1FAIpQLSdD_CvlaCu9kUYe9-VsvqEDcQyXffUhqszp_VZwSFTYQrgztQ/viewform"
                target="_blank">Share your story</a></button>
          </a>
        </p>
      </div>
      <hr />
      <a id="teen-app-survey" class="anchor"></a>
      <div class="nav-card-item-content" data-aos="zoom-in" data-aos-duration="1000"
        data-aos-anchor-placement="top-bottom">
        <h5>Take our Teens App Survey</h5><br>
        <p>
          Parenting a teen? Liked our COVID-19 parenting tips? Help us to develop a free parenting app by answering the
          short survey below!
        </p><br>
        <p>
          Adolescents are often considered the forgotten demographic in public health and social policy and they may be
          particularly vulnerable to certain types of violence.
        </p><br>
        <p>
          Your inputs help us to develop an innovative app that will help parent anjd caregivers to provide the adequate
          support and parenting that teenagers need.
        </p><br>
        <a href="https://usf.az1.qualtrics.com/jfe/form/SV_a2IGtTqLmZdCrDn" target="_blank"><button style="
          width: 50%; 
          min-height: 40px;  
           border-style: none;
          border-radius: 30px;"> <a href="https://usf.az1.qualtrics.com/jfe/form/SV_a2IGtTqLmZdCrDn" target="_blank">
              Take our Teens App Survey</a></button>
        </a>
      </div>
      <hr />
    </div>
  </div>
  <app-sidebar class="side-bar-container"></app-sidebar>
</div>