.contact-container {
  //margin-top: 30px; 
  background: #f2f2f2;
}

.contact-container {
  margin-top: 20px;

  .content {
    padding-top: 20px;
  }
}

.home-footer-background {
  background: #ec1551;
}

.contact-content {
  display: flex;
  flex-direction: column;
}

.contact-info {
  padding-right: 40px;
  text-align: left;
  flex: 40%;
}

.facebook-msg-button {
  display: block;
  background-color: #0084ff;
  color: white;
  border-radius: 20px;
  padding: 10px;
  font-size: 22px;
  padding-left: 20px;
  max-width: 300px;
  width: 100%;
  margin-bottom: 40px;
}

.email-button {
  display: block;
  background-color: #ec1551;
  color: white;
  border-radius: 20px;
  padding: 8px;
  font-size: 22px;
  padding-left: 20px;
  max-width: 400px;
  width: 100%;
  margin-bottom: 40px;
}

.survey-button {
  
  display: block;
  background-color: #33aa33;
  color: white;
  border-radius: 20px;
  padding: 10px;
  font-size: 22px;
  padding-left: 20px;
  max-width: 300px;
  width: 100%;
}

.contact-form {
  flex: 60%; 
}
.contact-info h1{
  font-weight: 700;
}

.contact-info p{
  font-weight: 300;
}

.contact-curve-bottom{
  /**because of the send button **/
  margin-top: -10px;
  //margin-top: -150px; won't work. Will block button
}

@media only screen and (max-width: 768px) {

  .contact-curve-bottom{
    margin-top: -65px;
  }
}

@media only screen and (max-width: 450px) {

  .email-button {
    padding: 6px;
    font-size: 18px;
  }

  .contact-content {
    flex-direction: column;
  }

  .contact-content div {
    flex: 100%;
  }

  .contact-info {
    padding-right: 0px;
    text-align: left; 
  }

  .contact-curve-bottom{
    margin-top: -30px;
  }
}