<app-banner></app-banner>
<app-newletterribbon></app-newletterribbon>
<div class="content page-container">
  <div class="main-container nav-cards">
    <div class="nav-card-item">
      <h5 class="nav-card-item-header">CONTACT US</h5>
      <div class="nav-card-item-content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit
        </p>
        <a>click here</a>
      </div>

      <div class="nav-card-item-content">
        <h5>SHARE YOUR STORY</h5>
        <p>NGO worker? Helped to share our parenting tips? You are a STAR!</p>
        <hr />
      </div>
      <div class="nav-card-item-content">
        <h5>SURVEY - ORGANIZATIONS</h5>
        <p>
          Parenting a teen? Liked our COVID-19 parenting tips? Help us to
          develop a free parenting app by answering the survey below
        </p>
        <hr />
      </div>
      <div class="nav-card-item-content">
        <h5>SURVERY - TEEN APP</h5>
        <p>
          Please take 2 minutes to complete this survey.These questions are
          important because they can help us learn if the parenting tips you are
          sharing are helping parents spend more time with their children,
          manage parental stress, and help parents discipline children through
          encouraging good behaviour. This information will help us understand
          how we can better support families in the future.
        </p>
        <hr />
      </div>
      <div class="nav-card-item-content">
        <h5>M&E - TEEN APP</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <hr />
      </div>
    </div>
  </div>

  <app-sidebar class="side-bar-container"></app-sidebar>
</div>