/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import 'assets/scss/modules/_fonts.scss';


body {
    padding: 0px;
    margin: 0px;
}

.content {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }

  @media only screen and (max-width: 900px) {
    .content {  
        padding: 20px;//todo. convert to ems
      }

     
  }