/* You can add global styles to this file, and also import other style files */


@import "~bootstrap/scss/bootstrap"; /* Importing Bootstrap SCSS file. */
@import "~aos/dist/aos.css"; /* Importing AOS CSS file. */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

body {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
  color: #0b4061; 
}

.content {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

/*read more links*/
.read-more-link{
  text-decoration: none;
  color: #0b4061;
  cursor: pointer;
}

.read-more-link:hover{
  color: #0b4061;
}

/*navigation cards*/
.nav-cards {
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
  justify-content: space-between;
}

.nav-card-item {
  margin-right: 10px;
}

.nav-card-item-icon{
  height: 50px;
  border-radius: 5px;
  text-align: center;
}

 .nav-card-item-header {
  margin-top: 10px;
  border-radius: 5px;
  color: #ffffff;
}

.nav-card-item-content{
  margin-bottom: 10px;
}

.nav-card-item-content p {
  font-weight: 300;
  margin-bottom: 0px;
}

.nav-card-item-content a{
  text-decoration: none;
  color: #0b4061;
  cursor: pointer;
}

.nav-card-item-content a:hover{
  color: #0b4061;
}

/*todo. delete some below*/


/** gives any tag custom button look**/
.btn-container,.btn-container-md ,.btn-container-lg {
  font-weight: 700;
  text-decoration: none;
  padding: 5px 25px;
  border-radius: 25px;
  color: #ffffff;
  background: #ed1651;
  border: none;
  transition-duration: 0.4s;
  font-size: 12px;
  cursor: pointer;
}

.btn-container-md{
  padding: 10px 10px;
  font-size: 14px;
}

.btn-container-lg{
  padding: 10px 10px;
  font-size: 16px;
}

.btn-container:hover, .btn-container-md:hover, .btn-container-lg:hover {
  background: #ffffff;
  color: #0b4061; 
  border: 2px solid #ed1651;
  text-decoration: none; 
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn-load-more{
  text-decoration: underline;
  margin: 10px;
  cursor: pointer;
}

.btn-load-more:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
} 


@media only screen and (max-width: 900px) {
  .content {
    padding: 20px; 
  }
}
