/* You can add global styles to this file, and also import other style files */


@import "~bootstrap/scss/bootstrap"; /* Importing Bootstrap SCSS file. */
@import "~aos/dist/aos.css"; /* Importing AOS CSS file. */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

body {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
  color: #0b4061; 
}

.content {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.page-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-container{
  flex: 70%;
  margin-right: 10px;
}

.side-bar-container{
  flex: 30%;
}

/*read more links*/
.read-more-link{
  text-decoration: none;
  color: #0b4061;
  cursor: pointer;
}

.read-more-link:hover{
  color: #0b4061;
  text-decoration: underline;
}

/*navigation cards*/
.nav-cards {
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
  justify-content: space-between;
}

.nav-card-item-icon{
  height: 50px;
  border-radius: 5px;
  text-align: center;
}

 .nav-card-item-header {
  margin-top: 10px;
  border-radius: 5px;
  color: #ffffff;
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-card-item-content{
  margin-bottom: 10px;
}

.nav-card-item-content h5 {
  margin-top: 10px;
}

.nav-card-item-content p {
  font-weight: 300;
  margin-bottom: 0px;
}

.nav-card-item-content a{
  text-decoration: none;
  color: #0b4061;
  font-size: 12px;
  cursor: pointer;
}

.nav-card-item-content a:hover{
  color: #0b4061;
  text-decoration: underline;
  transition: 0.4s;
}

 .nav-card-item-content span{
  font-size: 12px;
  font-weight: 300;
}



.nav-card-item-content hr {
  border-top: 1px dashed #0b4061;
  margin: 0;
}

@media only screen and (max-width: 900px) {
  .content {
    //padding: 20px; 
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media only screen and (max-width: 450px) {
  .page-container{
    flex-direction: column;
    justify-content: space-between;
  }
  
  .main-container{
    flex: 100%;
    margin-right: 0px;
  }
  
  .side-bar-container{
    flex: 100%;
  }
}


