<app-banner></app-banner>
<app-newletterribbon></app-newletterribbon>
<div class="content page-container">
  <div class="nav-cards main-container">
    <div class="nav-card-item">
      <h5 class="nav-card-item-header">SOCIAL MEDIA</h5>
      <div class="nav-card-item-content">
        <p>
          Download our Social Media Squares, with suggested captions and # to use, to post our parenting tips on your Social Media profiles and facilitate the sharing of evidence-based, open-source and positive materials that help to prevent violence against children and keep them safe during the COVID-19 pandemic and beyond.
        </p>
      </div>
      <div class="nav-card-item-content">
        <h5>Message for Twitter/Facebook/Instagram</h5>

        <div class="message-container">
          <div class="share-content">
            <div>
              <img src="assets/resources/socialmedia/tips.png" />
              <a href="assets/resources/socialmedia/tips.png" download="parenting tips"><button class= "buttons"> <a href="assets/resources/socialmedia/tips.png" download="parenting tips" class="button-text">Download</a></button></a>
              </div>
            <div>
              <p>
                School closures have impacted 1.5 billion children. Check out
                these parenting tips to help you adjust during #COVID19:
              </p>
              <ul>
                <li>Keep it positive</li>
                <li>Create daily routines</li>
                <li>Spend time one-on-one</li>
                <li>Manage stress</li>
                <li>Talking about COVID19</li>
              </ul>
              <p>
                www.covid19parenting.com - in 50+ languages. <br />
                #COVID19Parenting
              </p>
              
            </div>
          </div>
          
        </div>

        <hr />

        <div class="message-container">
          <div class="share-content">
            <div>
              <img src="assets/resources/socialmedia/one_one_time.png" />
              <a href="assets/resources/socialmedia/one_one_time.png" download="parenting tips"><button class= "buttons"> <a href="assets/resources/socialmedia/one_one_time.png" download="parenting tips" class="button-text">Download</a></button></a>
                          </div>
            <div>
              <p>Talk to your child about #COVID19.</p>
              <p>
                They will already have heard something. Silence and secrets do
                not protect our children. Honesty and openness do. Think about
                how much they will understand. You know them best.
              </p>
              <p>#COVID19Parenting tips: www.covid19parenting.com</p>
              
            </div>
          </div>
       
        </div>

        <hr />

        <div class="message-container">
          <div class="share-content">
            <div>
              <img src="assets/resources/socialmedia/talking_covid_19.png"  />
              <a href="assets/resources/socialmedia/talking_covid_19.png" download="parenting tips"><button class= "buttons"> <a href="assets/resources/socialmedia/talking_covid_19.png" download="parenting tips" class="button-text">Download</a></button></a>
                       
            </div>
            <div>
              <p>Spend one-on-one time with your kids!</p>
              <p>
                School shutdown is also a chance to make better relationships
                with our children. One-on-One time is free & fun: draw, dance
                and no phone or TV. It will help them feel safe and loved.
              </p>
              <p>#COVID19Parenting tips: www.covid19parenting.com</p>
              
            </div>
          </div>
         
        </div>

        <hr />

        <div class="message-container">
          <div class="share-content">
            <div>
              <img src="assets/resources/socialmedia/keep_it_positive.png" />
              <a href="assets/resources/socialmedia/keep_it_positive.png" download="parenting tips"><button class= "buttons"> <a href="assets/resources/socialmedia/keep_it_positive.png" download="parenting tips" class="button-text">Download</a></button></a>
                          </div>
            <div>
              <p>Keep it positive!</p>
              <p>
                It's hard to feel positive when our kids driving you crazy. We
                often end up saying "Stop doing that!" But they will listen
                better to your positive instructions & praise for what they do
                right.
              </p>
              <p>#COVID19Parenting tips: www.covid19parenting.com</p>
              
            </div>
          </div>
         
        </div>

        <hr />

        <div class="message-container">
          <div class="share-content">
            <div>
              <img src="assets/resources/socialmedia/children_misbehave.png"  />
                            <a href="assets/resources/socialmedia/children_misbehave.png" download="parenting tips"><button class= "buttons"> <a href="assets/resources/socialmedia/children_misbehave.png" download="parenting tips" class="button-text">Download</a></button></a>
            </div>
            <div>
              <p>Kids at home driving you crazy?</p>
              <p>
                Feeling like you are going to scream? All children misbehave -
                it is normal. Catching bad behaviour early can help. Try to
                redirect them to a positive behaviour. Prevent, protect, and
                praise!
              </p>
              <p>#COVID19Parenting tips: www.covid19parenting.com</p>
              
            </div>
          </div>
         
        </div>

        <hr />

        <div class="message-container">
          <div class="share-content">
            <div>
              <img src="assets/resources/socialmedia/take_care.png" />
              <a href="assets/resources/socialmedia/take_care.png" download="parenting tips"><button class= "buttons"> <a href="assets/resources/socialmedia/take_care.png" download="parenting tips" class="button-text">Download</a></button></a>
            </div>
              <div>
              <p>Keep calm & manage stress.</p>
              <p>
                Crowded house? Stressed out? #COVID19 is a stressful time. Share
                your feelings. Take a break. Take care of yourself so you can
                take care of your children. You can do it!
              </p>
              <p>#COVID19Parenting tips: www.covid19parenting.com</p>
              
            </div>
          </div>
        
        </div>

        <hr />

        <div class="message-container">
          <div class="share-content">
            <div>
              <img src="assets/resources/socialmedia/routine.png" />
              <a href="assets/resources/socialmedia/routine.png" download="parenting tips"><button class= "buttons"> <a href="assets/resources/socialmedia/routine.png" download="parenting tips" class="button-text">Download</a></button></a>
                          </div>
            <div>
              <p>Create a routine!</p>
              <p>
                A structured day helps kids feel secure and makes it easier to
                manage them.
              </p>
              <p>
                Try making a timetable with schoolwork, games, free time,
                exercise, and handwashing. Take charge of your days.
              </p>
              <p>#COVID19Parenting tips: www.covid19parenting.com</p>
              
            </div>
          </div>
        
        </div>

        <hr />

        <div class="message-container">
          <div class="share-content">
            <div>
              <img src="assets/resources/socialmedia/online_child_safety.png" />
              <a href="assets/resources/socialmedia/online_child_safety.png" download="parenting tips"><button class= "buttons"> <a href="assets/resources/socialmedia/online_child_safety.png" download="parenting tips" class="button-text">Download</a></button></a>
                          </div>
            <div>
              <p>Keep children safe online!</p>
              <p>
                Children now spending a lot of time online. It helps them to be
                connected and cope with #COVID19 but it also presents risks.
                What are they? What tech fixes you can use to protect your
                children?
              </p>
              <p>#COVID19Parenting tips: www.covid19parenting.com</p>
              
            </div>
          </div>
          
        </div>

        <hr />

        <div class="message-container">
          <div class="share-content">
            <div>
              <img src="assets/resources/socialmedia/online_child.png" />
              <a href="assets/resources/socialmedias/online_child.png" download="parenting tips"><button class= "buttons"> <a href="assets/resources/socialmedias/online_child.png" download="parenting tips" class="button-text">Download</a></button></a>
                          </div>
            <div>
              <p>Parenting in a crowded home?</p>
              <p>
                It can feel even harder to keep your family healthy & safe from
                #COVID19. To make easier try to:
              </p>
              <ul>
                <li>Share the load</li>
                <li>Exercise daily</li>
                <li>Take a Pause</li>
                <li>Make social distancing & hygiene a fun routine</li>
              </ul>
              <p>#COVID19Parenting tips: www.covid19parenting.com</p>
              
            </div>
          </div>
         
        </div>

        <hr />

        <div class="message-container">
          <div class="share-content">
            <div>
              <img src="assets/resources/socialmedia/family_budget.png" />
                            <a href="assets/resources/socialmedia/family_budget.png" download="parenting tips"><button class= "buttons"> <a href="assets/resources/socialmedia/family_budget.png" download="parenting tips" class="button-text">Download</a></button></a>
            </div>
            <div>
              <p>Stressed about money because of #COVID19?</p>
              <p>
                You are among the millions. Children asking for things can cause
                arguments, but this can help:
              </p>
              <ul>
                <li>Look for support</li>
                <li>How much you spend?</li>
                <li>Needs & wants?</li>
                <li>Make a family budget with kids</li>
              </ul>
              <p>#COVID19Parenting tips: www.covid19parenting.com</p>
              
            </div>
          </div>
      
        </div>

        <hr />

        <div class="message-container">
          <div class="share-content">
            <div>
              <img  src="assets/resources/socialmedia/family_relationship.png"/>
              <a href="assets/resources/socialmedia/family_relationship.png" download="parenting tips"><button class= "buttons"> <a href="assets/resources/socialmedia/family_relationship.png" download="parenting tips" class="button-text">Download</a></button></a>
                         </div>
            <div>
              <p>Family harmony is on you!</p>
              <p>
                The more we practice modelling peaceful, loving relationships
                for our children the more secure and loved they will feel.
                Positive language, active listening and empathy will do magic.
              </p>
              <p>#COVID19Parenting tips: www.covid19parenting.com</p>
              
            </div>
          </div>
         
        </div>

        <hr />

        <div class="message-container">
          <div class="share-content">
            <div>
              <img src="assets/resources/socialmedia/learning_through_play.png" />
              <a href="assets/resources/socialmedia/learning_through_play.png" download="parenting tips"><button class= "buttons"> <a href="assets/resources/socialmedia/learning_through_play.png" download="parenting tips" class="button-text">Download</a></button></a>
                         
            </div>

            <div>
              <p>
                Millions of children face school closure & isolation in their
                own home.
              </p>

              <p>
                Have you tried learning through play? It can be both fun and
                educational for all ages! There are so many different types of
                games, see which one you like  
              </p>
              <p>#COVID19Parenting tips: www.covid19parenting.com</p>
              
            </div>
          </div>
        
        </div>

        <hr />

        <div class="message-container">
          <div class="share-content">
            <div>
              <img src="assets/resources/socialmedia/dealing_with_anger.png" />
              <a href="assets/resources/socialmedia/dealing_with_anger.png" download="parenting tips"><button class= "buttons"> <a href="assets/resources/socialmedia/dealing_with_anger.png" download="parenting tips" class="button-text">Download</a></button></a>
                          </div>
            <div>
              <p>When we get angry...</p>
              <p>
                We love our children but the stresses of #COVID19, money and
                lockdown can make us angry. Here are some tips on how to prevent
                it from happening and take control of your next steps
                www.covid19parenting.com
              </p>
              <p>#COVID19Parenting</p>
              
            </div>
          </div>
       
        </div>
      </div>
    </div>
  </div>
  <app-sidebar class="side-bar-container"></app-sidebar>
</div>
