<app-banner></app-banner>
<app-newletterribbon></app-newletterribbon>
<div class="content page-container">
  <div class="nav-cards main-container">
    <div class="nav-card-item">
      <h5 class="nav-card-item-header">SOCIAL MEDIA</h5>
      <br>
      <div class="nav-card-item-content">
        <p>
          Share evidence-based parenting tips on your Social Media profiles to raise awareness on positive tips and
          activities that parents and caregivers can do to help reduce violence against children and promote child
          wellbeing during COVID-19 and beyond.
        </p><br>
        <p>
          The captions below can be adapted for various social media platforms including Instagram, Facebook, Twitter,
          WhatsApp, Viber, etc. Tags can also be adapted to fit your target audience as long as the images remain
          constant with reference to further information either on the WHO, UNICEF, or the COVID-19 Parenting websites.
        </p><br>
        <p>
          <span style="color: lightblue; font-weight: 500; font-size: 16px;"> Tag us:</span>Facebook @COVID19Parenting -
          Instagram @COVID19Parenting - Twitter @ParentingC19
        </p> <br>
        <p>
          <span style="color: lightblue; font-weight: 500; font-size: 16px;"> Tag partners:</span> @WHO @UNICEF @USAID
          @CDCgov @ParentingLH @GPtoEndViolence @accelerate_hub @Oxford_Uni @oak_foundation
        </p> <br>
        <p>
          <span style="color: lightblue; font-weight: 500; font-size: 16px;"> Hashtags:</span> #COVID19Parenting
          #COVID19
        </p>
        <p>
          <span style="color: lightblue; font-weight: 500; font-size: 16px;"> Websites:</span>

        </p>
        <ul>
          <li>
            Resources in over 100 languages <span style="color: lightblue; font-weight: 500; font-size: 16px;"> <a
                href="www.covid19parenting.com">www.covid19parenting.com</a> </span>
          </li>
          <li>
            UNICEF link <span style="color: lightblue; font-weight: 500; font-size: 16px;"> <a
                href="https://www.unicef.org/coronavirus/covid-19-parenting-tips">here</a> </span>
          </li>
          <li>
            WHO link <span style="color: lightblue; font-weight: 500; font-size: 16px;"> <a
                href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public/healthy-parenting">here</a>
            </span>
          </li>
        </ul>

      </div>

      <div>
        <p>
          <a href="assets/resources/socialmedia/Social-Media-Kit.docx" download="parenting tips"><button
              class="sm-buttons"> <a href="assets/resources/socialmedia/Social-Media-Kit.docx" download="parenting tips"
                class="sm-button-text">Download the full SOCIAL MEDIA Kit here</a></button></a>
        </p>
      </div>
      <br>
      <hr>

      <div class="nav-card-item-content">
        <h5>Message for Twitter/Facebook/Instagram</h5>
        <div class="message-container">
          <div class="share-content">
            <div>
              <img src="assets/resources/socialmedia/tips.png" />
              <a href="assets/resources/socialmedia/tips.png" download="parenting tips"><button class="buttons"> <a
                    href="assets/resources/socialmedia/tips.png" download="parenting tips"
                    class="button-text">Download</a></button></a>
              <br>
            </div>
            <div>
              <p>
                These parenting tips will help you stay safe, happy & healthy during #COVID19 & beyond:
              </p>
              <p>
                #COVID19Parenting covid19parenting.com
              </p>
              <br>
              <ul>
                <li>Keep it positive</li>
                <li>Create daily routines</li>
                <li>Spend time one-on-one</li>
                <li>Manage stress</li>
                <li>Talking about COVID19</li>
              </ul>
            </div>
          </div>
        </div><br>
        <hr />
        <br>
        <div class="message-container">
          <div class="share-content">
            <div>
              <img src="assets/resources/socialmedia/talking_covid_19.jpg" />
              <a href="assets/resources/socialmedia/talking_covid_19.jpg" download="parenting tips"><button
                  class="buttons"> <a href="assets/resources/socialmedia/talking_covid_19.jpg" download="parenting tips"
                    class="button-text">Download</a></button></a>
            </div>
            <div>
              <p>Talk to your child about #COVID19.</p>
              <br>
              <p>
                They will already have heard something. Silence and secrets do
                not protect our children. Honesty and openness do. Think about
                how much they will understand. You know them best.
              </p>
              <br>
              <p>#COVID19Parenting tips: www.covid19parenting.com</p>

            </div>
          </div>

        </div>
        <br>
        <hr />
        <br>
        <div class="message-container">
          <div class="share-content">
            <div>
              <img src="assets/resources/socialmedia/one_one_time.png" />
              <a href="assets/resources/socialmedia/one_one_time.png" download="parenting tips"><button class="buttons">
                  <a href="assets/resources/socialmedia/one_one_time.png" download="parenting tips"
                    class="button-text">Download</a></button></a>

            </div>
            <div>
              <p>Spend one-on-one time with your kids!</p><br>
              <p>
                School shutdown is also a chance to make better relationships
                with our children. One-on-One time is free & fun: draw, dance
                and no phone or TV. It will help them feel safe and loved.
              </p><br>
              <p>#COVID19Parenting tips: www.covid19parenting.com</p>

            </div>
          </div>

        </div>

        <br>
        <hr />
        <br>

        <div class="message-container">
          <div class="share-content">
            <div>
              <img src="assets/resources/socialmedia/keep_it_positive.png" />
              <a href="assets/resources/socialmedia/keep_it_positive.png" download="parenting tips"><button
                  class="buttons"> <a href="assets/resources/socialmedia/keep_it_positive.png" download="parenting tips"
                    class="button-text">Download</a></button></a>
            </div>
            <div>
              <p>Keep it positive!</p><br>
              <p>
                It's hard to feel positive when our kids driving you crazy. We
                often end up saying "Stop doing that!" But they will listen
                better to your positive instructions & praise for what they do
                right.
              </p><br>
              <p>#COVID19Parenting tips: www.covid19parenting.com</p>

            </div>
          </div>

        </div>

        <br>
        <hr />
        <br>

        <div class="message-container">
          <div class="share-content">
            <div>
              <img src="assets/resources/socialmedia/children_misbehave.png" />
              <a href="assets/resources/socialmedia/children_misbehave.png" download="parenting tips"><button
                  class="buttons"> <a href="assets/resources/socialmedia/children_misbehave.png"
                    download="parenting tips" class="button-text">Download</a></button></a>
            </div>
            <div>
              <p>Kids at home driving you crazy?</p><br>
              <p>
                Feeling like you are going to scream? All children misbehave -
                it is normal. Catching bad behaviour early can help. Try to
                redirect them to a positive behaviour. Prevent, protect, and
                praise!
              </p><br>
              <p>#COVID19Parenting tips: www.covid19parenting.com</p>

            </div>
          </div>

        </div>

        <br>
        <hr />
        <br>

        <div class="message-container">
          <div class="share-content">
            <div>
              <img src="assets/resources/socialmedia/take_care.png" />
              <a href="assets/resources/socialmedia/take_care.png" download="parenting tips"><button class="buttons"> <a
                    href="assets/resources/socialmedia/take_care.png" download="parenting tips"
                    class="button-text">Download</a></button></a>
            </div>
            <div>
              <p>Keep calm & manage stress.</p><br>
              <p>
                Crowded house? Stressed out? #COVID19 is a stressful time. Share
                your feelings. Take a break. Take care of yourself so you can
                take care of your children. You can do it!
              </p><br>
              <p>#COVID19Parenting tips: www.covid19parenting.com</p>

            </div>
          </div>
        </div>
        <br>
        <hr />
        <br>

        <div class="message-container">
          <div class="share-content">
            <div>
              <img src="assets/resources/socialmedia/routine.png" />
              <a href="assets/resources/socialmedia/routine.png" download="parenting tips"><button class="buttons"> <a
                    href="assets/resources/socialmedia/routine.png" download="parenting tips"
                    class="button-text">Download</a></button></a>
            </div>
            <div>
              <p>Create a routine!</p><br>
              <p>
                A structured day helps kids feel secure and makes it easier to
                manage them.
              </p><br>
              <p>
                Try making a timetable with schoolwork, games, free time,
                exercise, and handwashing. Take charge of your days.
              </p><br>
              <p>#COVID19Parenting tips: www.covid19parenting.com</p>

            </div>
          </div>

        </div>

        <br>
        <hr />
        <br>

        <div class="message-container">
          <div class="share-content">
            <div>
              <img src="assets/resources/socialmedia/online_child_safety.png" />
              <a href="assets/resources/socialmedia/online_child_safety.png" download="parenting tips"><button
                  class="buttons"> <a href="assets/resources/socialmedia/online_child_safety.png"
                    download="parenting tips" class="button-text">Download</a></button></a>
            </div>
            <div>
              <p>Keep children safe online!</p> <br>
              <p><br>
                Children now spending a lot of time online. It helps them to be
                connected and cope with #COVID19 but it also presents risks.
                What are they? What tech fixes you can use to protect your
                children?
              </p><br>
              <p>#COVID19Parenting tips: www.covid19parenting.com</p>

            </div>
          </div>

        </div>

        <br>
        <hr />
        <br>

        <div class="message-container">
          <div class="share-content">
            <div>
              <img src="assets/resources/socialmedia/crowded_house.png" />
              <a href="assets/resources/socialmedias/crowded_house.png" download="parenting tips"><button
                  class="buttons"> <a href="assets/resources/socialmedias/crowded_house.png" download="parenting tips"
                    class="button-text">Download</a></button></a>
            </div>
            <div>
              <p>Parenting in a crowded home?</p><br>
              <p>
                It can feel even harder to keep your family healthy & safe from
                #COVID19. To make easier try to:
              </p><br>
              <ul>
                <li>Share the load</li>
                <li>Exercise daily</li>
                <li>Take a Pause</li>
                <li>Make social distancing & hygiene a fun routine</li>
              </ul><br>
              <p>#COVID19Parenting tips: www.covid19parenting.com</p>

            </div>
          </div>

        </div>

        <br>
        <hr />
        <br>

        <div class="message-container">
          <div class="share-content">
            <div>
              <img src="assets/resources/socialmedia/family_budget.png" />
              <a href="assets/resources/socialmedia/family_budget.png" download="parenting tips"><button
                  class="buttons"> <a href="assets/resources/socialmedia/family_budget.png" download="parenting tips"
                    class="button-text">Download</a></button></a>
            </div>
            <div>
              <p>Stressed about money because of #COVID19?</p><br>
              <p>
                You are among the millions. Children asking for things can cause
                arguments, but this can help:
              </p><br>
              <ul>
                <li>Look for support</li>
                <li>How much you spend?</li>
                <li>Needs & wants?</li>
                <li>Make a family budget with kids</li>
              </ul><br>
              <p>#COVID19Parenting tips: www.covid19parenting.com</p>

            </div>
          </div>

        </div>

        <br>
        <hr />
        <br>

        <div class="message-container">
          <div class="share-content">
            <div>
              <img src="assets/resources/socialmedia/family_relationship.png" />
              <a href="assets/resources/socialmedia/family_relationship.png" download="parenting tips"><button
                  class="buttons"> <a href="assets/resources/socialmedia/family_relationship.png"
                    download="parenting tips" class="button-text">Download</a></button></a>
            </div>
            <div>
              <p>Creating family harmony helps our children!</p><br>
              <p>
                The more we practice modelling peaceful, loving relationships
                for our children the more secure and loved they will feel.
                Positive language, active listening and empathy will do magic.
              </p><br>
              <p>#COVID19Parenting tips: www.covid19parenting.com</p>

            </div>
          </div>

        </div>

        <br>
        <hr />
        <br>

        <div class="message-container">
          <div class="share-content">
            <div>
              <img src="assets/resources/socialmedia/learning_through_play.png" />
              <a href="assets/resources/socialmedia/learning_through_play.png" download="parenting tips"><button
                  class="buttons"> <a href="assets/resources/socialmedia/learning_through_play.png"
                    download="parenting tips" class="button-text">Download</a></button></a>

            </div>

            <div>
              <p>
                Millions of children face school closure & isolation in their
                own home.
              </p><br>

              <p>
                Have you tried learning through play? It can be both fun and
                educational for all ages! There are so many different types of
                games, see which one you like
              </p><br>
              <p>#COVID19Parenting tips: www.covid19parenting.com</p>

            </div>
          </div>

        </div>
        <br>
        <hr />
        <br>

        <div class="message-container">
          <div class="share-content">
            <div>
              <img src="assets/resources/socialmedia/dealing_with_anger.png" />
              <a href="assets/resources/socialmedia/dealing_with_anger.png" download="parenting tips"><button
                  class="buttons"> <a href="assets/resources/socialmedia/dealing_with_anger.png"
                    download="parenting tips" class="button-text">Download</a></button></a>
            </div>
            <div>
              <p>When we get angry...</p><br>
              <p>
                We love our children but the stresses of #COVID19, money and
                lockdown can make us angry. Here are some tips on how to prevent
                it from happening and take control of your next steps
                www.covid19parenting.com
              </p><br>
              <p>#COVID19Parenting</p>

            </div>
          </div>
        </div>
        <br>
        <hr />
        <br>
        <div class="message-container">
          <div class="share-content">
            <div>
              <img src="assets/resources/socialmedia/Parenting_Babies.jpg" />
              <a href="assets/resources/socialmedia/Parenting_Babies.jpg" download="parenting tips"><button
                  class="buttons"> <a href="assets/resources/socialmedia/dealing_with_anger.png"
                    download="parenting tips" class="button-text">Download</a></button></a>
            </div>
            <div>
              <p>Parenting a new baby is tough. The #COVID19 pandemic can make it especially challenging. You are not
                alone. These science-based resources can help you.</p><br>
              <p>
                #COVID19Parenting tips: covid19parenting.com
              </p><br>
              <ul>
                <li>Sing songs</li>
                <li>Talk and tell stories</li>
                <li>Play games like peek-a-boo</li>
                <li>Manage stress</li>
                <li>Connect with loved ones </li>
              </ul>
            </div>
          </div>
        </div>
        <br>
        <hr />
        <br>
        <div class="message-container">
          <div class="share-content">
            <div>
              <img src="assets/resources/socialmedia/Parenting_teens.jpg" />
              <a href="assets/resources/socialmedia/Parenting_teens.jpg" download="parenting tips"><button
                  class="buttons"> <a href="assets/resources/socialmedia/dealing_with_anger.png"
                    download="parenting tips" class="button-text">Download</a></button></a>
            </div>
            <div>
              <p>
                Parenting teens has always been tough. #COVID19 just made it harder. These science-based resources
                explain how to support them
              </p>
              <br>
              <p>
                #COVID19Parenting tips: covid19parenting.com
              </p><br>
              <ul>
                <li>Spend time together</li>
                <li>Create routines</li>
                <li>Show kindness </li>
                <li>Manage stress </li>
                <li>Talk about challenging behaviour, feelings & COVID </li>
              </ul>
            </div>
          </div>
        </div>
        <br>
        <hr />
        <br>
        <div class="message-container">
          <div class="share-content">
            <div>
              <img src="assets/resources/socialmedia/Children_living_ with_disabilities.jpg" />
              <a href="assets/resources/socialmedia/Children_living_ with_disabilities.jpg"
                download="parenting tips"><button class="buttons"> <a
                    href="assets/resources/socialmedia/dealing_with_anger.png" download="parenting tips"
                    class="button-text">Download</a></button></a>
            </div>
            <div>
              <p>
                Parents with disabilities & parents of children with disabilities are already under extreme stress, and
                #COVID19 can make it even harder to manage. You are not alone. These science-based resources can help
              </p>
              <br>
              <p>
                #COVID19Parenting tips: covid19parenting.com
              </p><br>
              <ul>
                <li>Manage stress</li>
                <li>Create daily routines</li>
                <li>Spend time one-on-one </li>
                <li>Praise </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-sidebar class="side-bar-container"></app-sidebar>
</div>