<img style="width: 100vw; max-width: 1406px; display: block; margin-left: auto; margin-right: auto;" src="assets/images/covid_19_banner1.webp">

<div style="width: 100vw; max-width: 1406px;"> 
<h2> 24/7 parenting resources in 90 languages!</h2>
<p>Parenting for Lifelong Health provides open-access online parenting resources during COVID-19. We are working with the World Health Organization, UNICEF, the Global Partnership to End Violence Against Children, the Internet of Good Things, USAID and Centers for Disease Control and Prevention</p>
<div>