.p {
  font-size: 30px;
  text-align: justify;
  margin-left: 300px;
  margin-right: 40PX;
  
}

.h2 {
  text-align: center;
  margin-left: 300px;
}

.text-div {
  width: 60%;
  height: 500px;
  float: left;
  margin-top: 45px;
  }
.blob-div {
  width: 40%;
  height: 500px;
  float: right;
  margin-top: 45px;
}
.img {
  height: 400px;
  width: 350px;
  
}
