.about-container {
  display: flex;
  flex-direction: row;
}

.about-text {
  flex: 50%;
}

.about-image {
  flex: 50%;
}

.about-image img {
  width: 100%;
}

.about-text h3 {
  font-weight: 300;
}

.about-text h4 {
  font-weight: 500;
}

.about-text p {
  font-weight: 300;
}

.nav-cards {
  flex-direction: row;
  justify-content: space-between;
}

.nav-card-item {
  margin-right: 10px;
  flex: 1;
}

.nav-card-item-content img {
  align-self: center;
}

.nav-card-one .nav-card-item-icon {
  background: #fecb79;
}

.nav-card-one .nav-card-item-header {
  background: #fecb79;
}

.nav-card-one .nav-card-item-content h5 {
  color: #fecb79;
}

.nav-card-two .nav-card-item-icon {
  background: #66738d;
}

.nav-card-two .nav-card-item-header {
  background: #66738d;
}

.nav-card-two .nav-card-item-content h5 {
  color: #66738d;
}

.nav-card-three .nav-card-item-icon {
  background: #75c5ca;
}

.nav-card-three .nav-card-item-header {
  background: #75c5ca;
}

.nav-card-three .nav-card-item-content h5 {
  color: #75c5ca;
}

@media only screen and (max-width: 450px) {
  .about-container {
    flex-direction: column-reverse;
  }

  .about-text {
    flex: 100%;
    margin-top: 10px;
  }

  .about-image {
    flex: 100%;
  }

  .nav-cards {
    flex-direction: column;
    justify-content: space-between;
  }

  .nav-card-item {
    margin-right: 0px;
  }

  .imgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}
