.svg{
  display: block;
}

.banner-curve-top{
  margin-bottom: -50px;
}

.banner-curve-bottom{
  margin-top: -150px;
}


.tips-curve-top{
  margin-top: -120px;
}

.tips-curve-bottom{
  margin-top: -120px;
}

.banner-container {
  //margin-top: 130px; 
  margin-top: 30px; 
  background: #ffca04;
  color: #ffffff;
}

.banner-slider { 
  display: flex;
  color: #ffffff; 
}

.slider-text {
  flex: 50%;
}

.slider-image {
  flex: 50%; //todo. could be larger?
}

.slide-image {
  width: calc(60vw - 50px);
  min-width: 100px;
  max-width: 500px;
}

.slider-text .main-header-one {
  font-weight: 300;
  color: #0b4061;
}

.slider-text .main-header-two {
  font-weight: 700;
  color: #0b4061; 
}

.slider-text .main-header-three {
  font-weight: 500;
  color: #ed1651; 
}

.slider-text p {
  font-weight: 400;
  color: #0b4061;
}

.nav-cards{
  display: flex;
  margin-bottom: 10px;
}

.nav-card-item {
  flex: 1;
  color: #0b4061;
  text-align: center;
}

.nav-card-item h3 {
  font-weight: 500;
}

.nav-card-item p {
  font-weight: 300;
}

.tips{
  /** todo remove. temporary class**/
  color: #0b4061;
}

.tips-background{ 
  background: #f2f2f2; 
}


.home-footer-background{
  background: #0a4160;
}

@media only screen and (max-width: 750px) {
  .banner-curve-top{
    margin-bottom: -30px;
  }
  
  .banner-curve-bottom{
    margin-top: -100px;
  }

  .tips-curve-top{
    margin-top: -100px;
    margin-bottom: -70px;
  }
  
  .tips-curve-bottom{
    margin-top: -90px;
  }
  
  .banner-container { 
    //margin-top: 80px;  
  }

  .nav-cards{
    flex-wrap: wrap;
  }
  .nav-card-item {
    flex: 50%;
    padding-bottom: 50px; //todo. convert to ems
  }


}

@media only screen and (max-width: 650px) {
  
  .banner-curve-top{
    margin-bottom: -10px;
  }
  
  .banner-curve-bottom{
    margin-top: -50px;
  }

  .tips-curve-top{
    margin-top: -30px;
    margin-bottom: 10px;
  }
  
  .tips-curve-bottom{
    margin-top: -30px;
  }
  
  .banner-container { 
    //margin-top: 80px;  
  }

  .banner-container { 
    //margin-top: 100px;  
  }

  .banner-slider { 
    flex-direction: column;
  }
  
  .slider-text {
    flex: 100%;
  }
  
  .slider-image {
    flex: 100%; 
  }
  .nav-cards{
    flex-direction: column; 
    align-items: center;
  }
  .nav-card-item {
    flex: 100%; 
  }
 
   
}



