.about-container {
  display: flex;
  flex-direction: row;
}

.about-text {
  flex: 65%;
}

.about-image {
  flex: 35%;
}

.about-image img {
  width: 100%;
}

.about-text h3 {
  font-weight: 300;
}

.about-text h4 {
  font-weight: 500;
}

.about-text p {
  font-weight: 300;
}

.nav-home {
  flex-direction: row;
  justify-content: space-between;
}

.nav-home .nav-card-item {
  padding-right: 20px;
  flex: 1;
}

.nav-cards-img{
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-home .nav-card-item .nav-card-item-header {
  text-align: center;
}

.nav-card-one .nav-card-item-icon {
  background: #fecb79;
}

.nav-card-one .nav-card-item-header {
  background: #fecb79;
  }

.nav-card-one .nav-card-item-content h5 {
  color: #fecb79;
  }

.nav-card-two .nav-card-item-icon {
  background: #66738d;
}

.nav-card-two .nav-card-item-header {
  background: #66738d;
}

.nav-card-two .nav-card-item-content h5 {
  color: #66738d;
}

.nav-card-three .nav-card-item-icon {
  background: #75c5ca;
}

.nav-card-three .nav-card-item-header {
  background: #75c5ca;
}

.nav-card-three .nav-card-item-content h5 {
  color: #75c5ca;
}

.tipsheets-item-content div a {
  font-size: 18px;
}

@media only screen and (max-width: 450px) {
  .about-container {
    flex-direction: column-reverse;
  }

  .about-text {
    flex: 100%;
    margin-top: 10px;
  }

  .about-image {
    flex: 100%;
  }

  .nav-cards {
    flex-direction: column;
    justify-content: space-between;
  }

  .nav-card-item {
    padding-right: 0px;
  }

}
