
.banner-curve-top {
  margin-bottom: -50px;
}

.banner-curve-bottom {
  margin-top: -118px;
}

.tips-curve-top {
  margin-top: -120px;
}

.tips-curve-bottom {
  margin-top: -120px;
}

.banner-container {
  //margin-top: 130px;
  margin-top: 30px;
  background: #ffca04;
}

.banner-slider {
  display: flex;
}

.slider-text {
  flex: 50%;
}

.slider-image {
  flex: 50%; //todo. could be larger?
}

.slide-image {
  width: calc(60vw - 50px);
  min-width: 100px;
  max-width: 500px;
}

 .main-header-one {
  font-weight: 300;
}

.main-header-two {
  font-weight: 700;
}

 .main-header-three {
  font-weight: 500;
  color: #ed1651;
}

.slider-text p {
  font-weight: 400;
}

.nav-cards {
  display: flex;
  margin-bottom: 10px;
}

.nav-card-item {
  flex: 1;
  text-align: center;
}

.nav-card-item h3 {
  font-weight: 500;
}

.nav-card-item p {
  font-weight: 300;
}

 /* for the tips container*/
.tips-background {
  background: #f2f2f2;
}

.tips-content {
  color: #0b4061;
  display: flex;
  flex-direction: row;
}

.tips-info {
  padding-right: 40px;
  text-align: right;
  flex: 40%;
}

.tips-sheets {
  flex: 60%;
}

.tips-info h3 {
  font-weight: 400;
}

.tips-info p {
  font-weight: 300;
}

.tips-info-question {
  display: flex;
  flex-direction: row;
}

.tips-info-question-content {
  padding-right: 10px;
}

.desktop-tips-info-directions{
  display: block;
}

.mobile-tips-info-directions{
  display: none;
}

.slow-down-video-content {
  margin-top: 60px;
  display: block;
}

 /* for the footer container*/
.home-footer-background {
  background: #0a4160;
}

 /* for tablets*/
@media only screen and (max-width: 768px) {
  .banner-curve-top {
    margin-bottom: -30px;
  }

  .banner-curve-bottom {
    margin-top: -100px;
  }

  .tips-curve-top {
    margin-top: -100px;
    margin-bottom: -70px;
  }

  .tips-curve-bottom {
    margin-top: -90px;
  }

  .nav-cards {
    flex-wrap: wrap;
  }

  .nav-card-item {
    flex: 50%; 
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 650px) {
  .banner-curve-top {
    margin-bottom: -10px;
  }

  .banner-curve-bottom {
    margin-top: -30px;
  }

  .tips-curve-top {
    margin-top: -30px;
    margin-bottom: 10px;
  }

  .tips-curve-bottom {
    margin-top: -30px;
  }

  .banner-container {
    //margin-top: 80px;
  }

  .banner-slider {
    flex-direction: column;
  }

  .slider-text {
    flex: 100%;
  }

  .slider-image {
    flex: 100%;
  }

  .nav-cards {
    flex-direction: column;
    align-items: center;
  }

  .nav-card-item {
    flex: 100%;
  }

  /* for the tips container*/
  .tips-content {
    flex-direction: column;
  }

  .tips-info {
    padding: 0px;
    text-align: left;
    flex: 100%;
  }

  .tips-sheets {
    flex: 100%;
  }

  .desktop-tips-info-directions{
    display: none;
  }
  
  .mobile-tips-info-directions{
    display: block;
  }

}
