.news-letter-container {
  background: #75c5ca;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.news-letter-container .content a {
  color: #ffffff;
  font-size: 1.25rem;
  line-height: 1.2;
  text-decoration: none;
}

.news-letter-container .content a:hover {
  text-decoration: none;
}

.news-letter-container .content a div {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition-duration: 0.4s;
}

.news-letter-container .content a div:hover {
  border-bottom: 2px solid #ffffff;
}

@media only screen and (max-width: 450px) {
  .news-letter-container {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media only screen and (max-width: 360px) {
  .news-letter-container .content {
    padding-left: 5px;
    padding-right: 5px;
  }
}
