.news-letter-container {
  background: #5dbcd2;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.news-letter-container .content h5 {
  font-weight: 300;
  margin: 0px;
} 

@media only screen and (max-width: 450px) {
  .news-letter-container {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}